In [390]:
import pandas as pd

In [391]:
df = pd.read_csv('glassdoor_jobs.csv')

In [392]:
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

#salary:
    1. Min & Max separate columns
    2. Remove glassdoor est
#Company Name
    1. Keep name only, remove rating
#Location
    1. City and State separate
#Founded
    1. Company Age
#Job Description
    1. Parse JD for keywords

In [394]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [395]:
df.isna().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [396]:
(df['Salary Estimate'] == '-1').sum()

214

In [397]:
df = df[df['Salary Estimate']!='-1']

# Regex

### Cleaning Salary

In [398]:
regex_df = df.copy()

In [399]:
#Glassdoor estimate removal
salary = regex_df['Salary Estimate'].apply(lambda x:x.split('(')[0])

0                                     $53K-$91K
1                                    $63K-$112K
2                                     $80K-$90K
3                                     $56K-$97K
4                                    $86K-$143K
5                                    $71K-$119K
6                                     $54K-$93K
7                                    $86K-$142K
8                                     $38K-$84K
9                                   $120K-$160K
10                                  $126K-$201K
11                                   $64K-$106K
12                                  $106K-$172K
13                                    $46K-$85K
14                                   $83K-$144K
15                                  $102K-$190K
16                                   $67K-$137K
17                                  $118K-$189K
18                                  $110K-$175K
19                                   $64K-$111K
20                                   $81K-$130K
21                                   $73K-$119K
22                                   $86K-$139K
23                                   $63K-$105K
25                                  $109K-$177K
26                                   $63K-$110K
27                                   $75K-$124K
28                                    $34K-$61K
29                                   $63K-$105K
30                                    $80K-$90K
31                                    $56K-$97K
32                                   $72K-$120K
33                                   $86K-$143K
34                                   $93K-$149K
35                                   $85K-$140K
36                                   $77K-$135K
37                                   $82K-$132K
38                                   $83K-$137K
39                                  $115K-$180K
40                                   $74K-$138K
41                                   $64K-$112K
43                                   $68K-$129K
44                                  $110K-$175K
45                                   $52K-$113K
46                                   $110K-$150K
48          Employer Provided Salary:$150K-$160K
49                                  $158K-$211K
50                                    $20K-$39K
51                                   $56K-$117K
52                                    $63K-$99K
54                                   $68K-$114K
55                                   $86K-$143K
56                                    $41K-$95K
57                                   $86K-$144K
58                                   $80K-$139K
59                                    $56K-$95K
60                                  $120K-$189K
61                                  $111K-$176K
62                                    $54K-$93K
63                                   $71K-$119K
65                                   $82K-$132K
66                                   $84K-$146K
67                                  $107K-$172K
68                                    $49K-$85K
70                                   $61K-$109K
72                                   $88K-$148K
73                                    $60K-$99K
75                                    $41K-$72K
76                                   $96K-$161K
77                                   $65K-$130K
78                                    $52K-$81K
79                                  $139K-$220K
80                                   $50K-$102K
81                                   $85K-$139K
82                                   $74K-$122K
83                                   $99K-$157K
84                                   $79K-$222K
85                                   $57K-$118K
86                                   $83K-$137K
87                                   $86K-$141K
88                                   $94K-$154K
89                                    $37K-$76K
90                                  $100K-$160K
91                                   $55K-$100K
92                                   $60K-$114K
93                                    $39K-$68K
94                                  $106K-$172K
95                                   $86K-$142K
96                                   $64K-$107K
97                                    $31K-$65K
99                                    $34K-$62K
101                                 $117K-$231K
102                                  $64K-$106K
104                                  $79K-$134K
105                                   $52K-$93K
106                                  $55K-$116K
107                                  $72K-$123K
108                                  $74K-$124K
109                                   $40K-$73K
110                                 $102K-$164K
112                                  $89K-$153K
113                                  $61K-$110K
116                                  $65K-$110K
117                                  $200K-$275K
118                                  $68K-$123K
119                                  $80K-$129K
120                                   $41K-$72K
122                                   $39K-$71K
123                                   $38K-$85K
124                                 $121K-$193K
125                                  $54K-$102K
126                                  $83K-$144K
127                                 $120K-$160K
128                                 $102K-$163K
129                                  $76K-$140K
130                                  $60K-$101K
131                                  $82K-$133K
132                                  $65K-$125K
136                                  $91K-$148K
137                                  $95K-$173K
138                                  $77K-$124K
139                                  $80K-$135K
140                                  $85K-$159K
141                                   $80K-$105K
142                                   $43K-$81K
143                                   $29K-$50K
145                                  $82K-$133K
146                                   $26K-$55K
147                                  $61K-$118K
148                                  $60K-$102K
150                                 $112K-$182K
152                                  $64K-$106K
153                                  $51K-$112K
154                                 $113K-$223K
156                                  $72K-$129K
157                                  $71K-$123K
158                                  $64K-$106K
159                                 $118K-$189K
161         Employer Provided Salary:$120K-$145K
162                                  $80K-$120K
164                                  $80K-$130K
166                                  $59K-$115K
167                                  $71K-$136K
168                                  $81K-$167K
169                                   $49K-$85K
170                                  $60K-$114K
171                                  $71K-$204K
172                                  $75K-$125K
174                                  $77K-$136K
175                                  $74K-$123K
177                                   $44K-$78K
178                                  $65K-$148K
179                                  $59K-$110K
180                                  $85K-$134K
181                                 $124K-$204K
182                                 $131K-$207K
183                                 $110K-$174K
185                                  $52K-$101K
187                                  $81K-$133K
188                                 $132K-$211K
190                                  $73K-$119K
191                                 $110K-$175K
192                                  $74K-$140K
193                                 $100K-$190K
194                                   $43K-$80K
197                             $17-$24 Per Hour
198                                  $91K-$149K
199                                   $42K-$82K
200                                 $116K-$185K
201                                  $59K-$116K
202                                   $48K-$95K
203                                   $31K-$72K
204                                 $105K-$198K
205                                  $55K-$100K
206                                  $98K-$182K
207                                  $73K-$124K
208         Employer Provided Salary:$200K-$250K
209                             $21-$34 Per Hour
210                                 $117K-$206K
211                                 $111K-$183K
212                                   $44K-$78K
213                                  $81K-$159K
215                                  $83K-$166K
216                                 $114K-$182K
217                                   $42K-$76K
221                                 $114K-$179K
223                                  $60K-$123K
224                                 $100K-$166K
225                                 $108K-$173K
226                                   $48K-$93K
228                                  $54K-$115K
229                                  $60K-$127K
230                                  $90K-$179K
233                                 $138K-$224K
234                                  $54K-$115K
235                                  $190K-$220K
239                                   $35K-$62K
240                             $18-$25 Per Hour
242                                   $39K-$66K
243                                  $81K-$167K
245                                   $42K-$86K
246                                  $69K-$127K
247                             $21-$34 Per Hour
248                                   $40K-$68K
250                                  $49K-$113K
251                                  $75K-$140K
253                                  $86K-$139K
254                                  $66K-$112K
255                                  $76K-$125K
256                                   $44K-$86K
257                             $15-$25 Per Hour
258                                   $53K-$92K
259                                   $44K-$78K
260                                  $85K-$134K
262                                  $59K-$110K
263                                  $64K-$111K
264                                  $65K-$120K
265                                  $60K-$103K
266                                  $53K-$105K
267                                 $124K-$204K
268                                 $131K-$207K
269                                 $110K-$174K
270                                   $33K-$62K
273                                  $52K-$101K
274                                   $48K-$90K
275                                   $34K-$64K
276                                 $132K-$211K
277                                  $81K-$133K
278                                   $42K-$76K
281                                  $66K-$111K
282                                  $74K-$140K
284                                  $63K-$110K
285                                  $63K-$105K
288                                  $91K-$138K
289                                 $100K-$190K
290                                  $62K-$114K
291                                  $71K-$129K
292                                   $43K-$80K
293                                  $74K-$119K
295                                   $55K-$97K
296                                    $15K-$16K
299                                  $61K-$106K
300                                  $91K-$149K
302                                 $127K-$199K
305                                  $74K-$126K
306                                   $33K-$72K
307                             $17-$24 Per Hour
308                                   $37K-$63K
309                                  $67K-$119K
310                                  $72K-$117K
311                                 $116K-$185K
312                                  $78K-$126K
313                                   $42K-$82K
314                                  $59K-$116K
316                                  $63K-$105K
317                                 $109K-$177K
318                                 $116K-$194K
319                                   $48K-$95K
320                                  $83K-$133K
322                                 $105K-$198K
323                                   $31K-$72K
324                                  $98K-$182K
325                                  $55K-$100K
326                                   $45K-$82K
328                                  $83K-$135K
330                                  $70K-$122K
331         Employer Provided Salary:$200K-$250K
332                                  $70K-$132K
333                                  $73K-$124K
334                                  $54K-$101K
335                                 $117K-$206K
337                             $21-$34 Per Hour
339                                 $111K-$183K
341                                  $68K-$112K
342                                   $42K-$74K
344                                   $44K-$78K
346                                  $81K-$159K
347                                  $95K-$161K
348                                  $75K-$124K
349                                  $72K-$120K
350                                  $76K-$126K
351                                 $114K-$182K
352                                 $108K-$176K
353                                 $130K-$208K
354                                  $83K-$166K
355                                   $42K-$76K
356                                   $37K-$68K
357                                   $52K-$99K
358                                 $105K-$173K
362                                  $71K-$134K
364                                   $39K-$82K
366                                 $114K-$179K
367                                  $88K-$162K
368                                  $60K-$102K
369                                 $100K-$166K
370                                   $55K-$99K
371                                  $67K-$117K
372                                  $92K-$150K
375                                 $116K-$209K
376                                   $38K-$82K
377           Employer Provided Salary:$85K-$90K
379                                  $62K-$119K
380                                  $86K-$143K
381                                  $93K-$149K
382                                  $84K-$136K
383                                  $60K-$123K
384                                   $52K-$89K
386                                   $48K-$93K
387                                   $56K-$97K
388                                  $65K-$119K
390                                 $108K-$173K
391                                  $63K-$101K
392                                  $54K-$115K
394                                  $90K-$179K
396                                 $127K-$202K
397                                   $31K-$57K
398                                  $60K-$127K
399                                  $75K-$143K
400                                 $105K-$194K
401                                   $45K-$86K
403                                  $95K-$154K
406                                  $80K-$148K
407                                   $36K-$62K
409                                  $54K-$115K
410                                   $50K-$92K
411                                  $67K-$135K
412                                  $82K-$132K
413                                  $85K-$140K
414                                 $138K-$224K
415                                   $42K-$80K
416                                  $190K-$220K
417                                  $68K-$139K
419                                   $34K-$92K
420                                   $54K-$71K
421                                  $65K-$124K
425                                   $35K-$62K
426                                 $109K-$200K
427                             $18-$25 Per Hour
428                                  $61K-$113K
429                                   $39K-$66K
430                                   $43K-$86K
431                                  $74K-$149K
433                                 $113K-$196K
434                                  $81K-$167K
435                                  $97K-$160K
437                             $24-$39 Per Hour
442                                   $42K-$86K
443                                  $69K-$127K
444                                 $110K-$175K
446                                 $102K-$172K
447                                  $74K-$124K
448                                   $40K-$68K
449                                 $108K-$171K
450                                  $76K-$142K
452                                 $202K-$306K
454                                   $49K-$97K
455                                  $49K-$113K
456                             $21-$34 Per Hour
458                                  $65K-$134K
459                                   $32K-$59K
461                                  $87K-$158K
462                                 $107K-$173K
463                                   $56K-$99K
464    Employer Provided Salary:$25-$28 Per Hour
466                                  $80K-$155K
467                                   $43K-$98K
468                                   $45K-$78K
469                                   $44K-$96K
470                                  $50K-$110K
471                                  $61K-$119K
472         Employer Provided Salary:$100K-$140K
473                                   $56K-$91K
476                                  $68K-$114K
477         Employer Provided Salary:$150K-$160K
479                                 $101K-$158K
482                                 $125K-$210K
483                                   $43K-$77K
485                                 $139K-$221K
486                                   $44K-$86K
487                                  $78K-$147K
488                                  $65K-$110K
489                                   $37K-$66K
490                                   $38K-$64K
491                                   $43K-$82K
492                                   $90K-$110K
493                                  $61K-$109K
494                                  $93K-$151K
495                                   $52K-$81K
496                                  $40K-$101K
497                                  $97K-$180K
498                                  $81K-$134K
499                                  $84K-$157K
500                                  $49K-$113K
501                                  $68K-$139K
502                                  $75K-$140K
505                                 $121K-$203K
506                                   $52K-$85K
507                                  $81K-$140K
508                                   $63K-$99K
509                                  $110K-$150K
510                                  $83K-$148K
512                                  $60K-$101K
516                                   $31K-$55K
517                                 $102K-$178K
518         Employer Provided Salary:$110K-$130K
519                                   $48K-$85K
520                                  $66K-$123K
521                                  $92K-$146K
522                             $21-$29 Per Hour
523                             $10-$17 Per Hour
524                                 $150K-$239K
525                                   $52K-$91K
526                                   $82K-$129K
528                                  $47K-$101K
530                                   $49K-$76K
532                                   $43K-$88K

In [400]:
regex_df['per_hour'] = salary.apply(lambda x: 1 if "per hour" in x.lower() else 0)

In [401]:
regex_df['employer_provided'] = salary.apply(lambda x: 1 if "employer provided salary:" in x.lower() else 0)

In [402]:
#'k' and '$' removal
remove_kd = salary.apply(lambda x:x.replace('K','').replace('$', ''))

0                                       53-91
1                                      63-112
2                                       80-90
3                                       56-97
4                                      86-143
5                                      71-119
6                                       54-93
7                                      86-142
8                                       38-84
9                                     120-160
10                                    126-201
11                                     64-106
12                                    106-172
13                                      46-85
14                                     83-144
15                                    102-190
16                                     67-137
17                                    118-189
18                                    110-175
19                                     64-111
20                                     81-130
21                                     73-119
22                                     86-139
23                                     63-105
25                                    109-177
26                                     63-110
27                                     75-124
28                                      34-61
29                                     63-105
30                                      80-90
31                                      56-97
32                                     72-120
33                                     86-143
34                                     93-149
35                                     85-140
36                                     77-135
37                                     82-132
38                                     83-137
39                                    115-180
40                                     74-138
41                                     64-112
43                                     68-129
44                                    110-175
45                                     52-113
46                                     110-150
48            Employer Provided Salary:150-160
49                                    158-211
50                                      20-39
51                                     56-117
52                                      63-99
54                                     68-114
55                                     86-143
56                                      41-95
57                                     86-144
58                                     80-139
59                                      56-95
60                                    120-189
61                                    111-176
62                                      54-93
63                                     71-119
65                                     82-132
66                                     84-146
67                                    107-172
68                                      49-85
70                                     61-109
72                                     88-148
73                                      60-99
75                                      41-72
76                                     96-161
77                                     65-130
78                                      52-81
79                                    139-220
80                                     50-102
81                                     85-139
82                                     74-122
83                                     99-157
84                                     79-222
85                                     57-118
86                                     83-137
87                                     86-141
88                                     94-154
89                                      37-76
90                                    100-160
91                                     55-100
92                                     60-114
93                                      39-68
94                                    106-172
95                                     86-142
96                                     64-107
97                                      31-65
99                                      34-62
101                                   117-231
102                                    64-106
104                                    79-134
105                                     52-93
106                                    55-116
107                                    72-123
108                                    74-124
109                                     40-73
110                                   102-164
112                                    89-153
113                                    61-110
116                                    65-110
117                                    200-275
118                                    68-123
119                                    80-129
120                                     41-72
122                                     39-71
123                                     38-85
124                                   121-193
125                                    54-102
126                                    83-144
127                                   120-160
128                                   102-163
129                                    76-140
130                                    60-101
131                                    82-133
132                                    65-125
136                                    91-148
137                                    95-173
138                                    77-124
139                                    80-135
140                                    85-159
141                                     80-105
142                                     43-81
143                                     29-50
145                                    82-133
146                                     26-55
147                                    61-118
148                                    60-102
150                                   112-182
152                                    64-106
153                                    51-112
154                                   113-223
156                                    72-129
157                                    71-123
158                                    64-106
159                                   118-189
161           Employer Provided Salary:120-145
162                                    80-120
164                                    80-130
166                                    59-115
167                                    71-136
168                                    81-167
169                                     49-85
170                                    60-114
171                                    71-204
172                                    75-125
174                                    77-136
175                                    74-123
177                                     44-78
178                                    65-148
179                                    59-110
180                                    85-134
181                                   124-204
182                                   131-207
183                                   110-174
185                                    52-101
187                                    81-133
188                                   132-211
190                                    73-119
191                                   110-175
192                                    74-140
193                                   100-190
194                                     43-80
197                             17-24 Per Hour
198                                    91-149
199                                     42-82
200                                   116-185
201                                    59-116
202                                     48-95
203                                     31-72
204                                   105-198
205                                    55-100
206                                    98-182
207                                    73-124
208           Employer Provided Salary:200-250
209                             21-34 Per Hour
210                                   117-206
211                                   111-183
212                                     44-78
213                                    81-159
215                                    83-166
216                                   114-182
217                                     42-76
221                                   114-179
223                                    60-123
224                                   100-166
225                                   108-173
226                                     48-93
228                                    54-115
229                                    60-127
230                                    90-179
233                                   138-224
234                                    54-115
235                                    190-220
239                                     35-62
240                             18-25 Per Hour
242                                     39-66
243                                    81-167
245                                     42-86
246                                    69-127
247                             21-34 Per Hour
248                                     40-68
250                                    49-113
251                                    75-140
253                                    86-139
254                                    66-112
255                                    76-125
256                                     44-86
257                             15-25 Per Hour
258                                     53-92
259                                     44-78
260                                    85-134
262                                    59-110
263                                    64-111
264                                    65-120
265                                    60-103
266                                    53-105
267                                   124-204
268                                   131-207
269                                   110-174
270                                     33-62
273                                    52-101
274                                     48-90
275                                     34-64
276                                   132-211
277                                    81-133
278                                     42-76
281                                    66-111
282                                    74-140
284                                    63-110
285                                    63-105
288                                    91-138
289                                   100-190
290                                    62-114
291                                    71-129
292                                     43-80
293                                    74-119
295                                     55-97
296                                      15-16
299                                    61-106
300                                    91-149
302                                   127-199
305                                    74-126
306                                     33-72
307                             17-24 Per Hour
308                                     37-63
309                                    67-119
310                                    72-117
311                                   116-185
312                                    78-126
313                                     42-82
314                                    59-116
316                                    63-105
317                                   109-177
318                                   116-194
319                                     48-95
320                                    83-133
322                                   105-198
323                                     31-72
324                                    98-182
325                                    55-100
326                                     45-82
328                                    83-135
330                                    70-122
331           Employer Provided Salary:200-250
332                                    70-132
333                                    73-124
334                                    54-101
335                                   117-206
337                             21-34 Per Hour
339                                   111-183
341                                    68-112
342                                     42-74
344                                     44-78
346                                    81-159
347                                    95-161
348                                    75-124
349                                    72-120
350                                    76-126
351                                   114-182
352                                   108-176
353                                   130-208
354                                    83-166
355                                     42-76
356                                     37-68
357                                     52-99
358                                   105-173
362                                    71-134
364                                     39-82
366                                   114-179
367                                    88-162
368                                    60-102
369                                   100-166
370                                     55-99
371                                    67-117
372                                    92-150
375                                   116-209
376                                     38-82
377             Employer Provided Salary:85-90
379                                    62-119
380                                    86-143
381                                    93-149
382                                    84-136
383                                    60-123
384                                     52-89
386                                     48-93
387                                     56-97
388                                    65-119
390                                   108-173
391                                    63-101
392                                    54-115
394                                    90-179
396                                   127-202
397                                     31-57
398                                    60-127
399                                    75-143
400                                   105-194
401                                     45-86
403                                    95-154
406                                    80-148
407                                     36-62
409                                    54-115
410                                     50-92
411                                    67-135
412                                    82-132
413                                    85-140
414                                   138-224
415                                     42-80
416                                    190-220
417                                    68-139
419                                     34-92
420                                     54-71
421                                    65-124
425                                     35-62
426                                   109-200
427                             18-25 Per Hour
428                                    61-113
429                                     39-66
430                                     43-86
431                                    74-149
433                                   113-196
434                                    81-167
435                                    97-160
437                             24-39 Per Hour
442                                     42-86
443                                    69-127
444                                   110-175
446                                   102-172
447                                    74-124
448                                     40-68
449                                   108-171
450                                    76-142
452                                   202-306
454                                     49-97
455                                    49-113
456                             21-34 Per Hour
458                                    65-134
459                                     32-59
461                                    87-158
462                                   107-173
463                                     56-99
464    Employer Provided Salary:25-28 Per Hour
466                                    80-155
467                                     43-98
468                                     45-78
469                                     44-96
470                                    50-110
471                                    61-119
472           Employer Provided Salary:100-140
473                                     56-91
476                                    68-114
477           Employer Provided Salary:150-160
479                                   101-158
482                                   125-210
483                                     43-77
485                                   139-221
486                                     44-86
487                                    78-147
488                                    65-110
489                                     37-66
490                                     38-64
491                                     43-82
492                                     90-110
493                                    61-109
494                                    93-151
495                                     52-81
496                                    40-101
497                                    97-180
498                                    81-134
499                                    84-157
500                                    49-113
501                                    68-139
502                                    75-140
505                                   121-203
506                                     52-85
507                                    81-140
508                                     63-99
509                                    110-150
510                                    83-148
512                                    60-101
516                                     31-55
517                                   102-178
518           Employer Provided Salary:110-130
519                                     48-85
520                                    66-123
521                                    92-146
522                             21-29 Per Hour
523                             10-17 Per Hour
524                                   150-239
525                                     52-91
526                                     82-129
528                                    47-101
530                                     49-76
532                                     43-88
533                                   124-199
534                                     52-93
535                                    97-181
537                                   100-173
538                                     53-96
539                                     65-96
540                                     56-95
541                                   111-176
542                                    75-127
543                                    65-119
544                                     56-97
545                                   108-173
546                                    94-139
548                                   176-289
549                                    92-149
550                                    63-101
552                                    54-115
554                                   118-188

In [403]:
remove_text = remove_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))

0        53-91
1       63-112
2        80-90
3        56-97
4       86-143
5       71-119
6        54-93
7       86-142
8        38-84
9      120-160
10     126-201
11      64-106
12     106-172
13       46-85
14      83-144
15     102-190
16      67-137
17     118-189
18     110-175
19      64-111
20      81-130
21      73-119
22      86-139
23      63-105
25     109-177
26      63-110
27      75-124
28       34-61
29      63-105
30       80-90
31       56-97
32      72-120
33      86-143
34      93-149
35      85-140
36      77-135
37      82-132
38      83-137
39     115-180
40      74-138
41      64-112
43      68-129
44     110-175
45      52-113
46      110-150
48      150-160
49     158-211
50       20-39
51      56-117
52       63-99
54      68-114
55      86-143
56       41-95
57      86-144
58      80-139
59       56-95
60     120-189
61     111-176
62       54-93
63      71-119
65      82-132
66      84-146
67     107-172
68       49-85
70      61-109
72      88-148
73       60-99
75       41-72
76      96-161
77      65-130
78       52-81
79     139-220
80      50-102
81      85-139
82      74-122
83      99-157
84      79-222
85      57-118
86      83-137
87      86-141
88      94-154
89       37-76
90     100-160
91      55-100
92      60-114
93       39-68
94     106-172
95      86-142
96      64-107
97       31-65
99       34-62
101    117-231
102     64-106
104     79-134
105      52-93
106     55-116
107     72-123
108     74-124
109      40-73
110    102-164
112     89-153
113     61-110
116     65-110
117     200-275
118     68-123
119     80-129
120      41-72
122      39-71
123      38-85
124    121-193
125     54-102
126     83-144
127    120-160
128    102-163
129     76-140
130     60-101
131     82-133
132     65-125
136     91-148
137     95-173
138     77-124
139     80-135
140     85-159
141      80-105
142      43-81
143      29-50
145     82-133
146      26-55
147     61-118
148     60-102
150    112-182
152     64-106
153     51-112
154    113-223
156     72-129
157     71-123
158     64-106
159    118-189
161     120-145
162     80-120
164     80-130
166     59-115
167     71-136
168     81-167
169      49-85
170     60-114
171     71-204
172     75-125
174     77-136
175     74-123
177      44-78
178     65-148
179     59-110
180     85-134
181    124-204
182    131-207
183    110-174
185     52-101
187     81-133
188    132-211
190     73-119
191    110-175
192     74-140
193    100-190
194      43-80
197      17-24
198     91-149
199      42-82
200    116-185
201     59-116
202      48-95
203      31-72
204    105-198
205     55-100
206     98-182
207     73-124
208     200-250
209      21-34
210    117-206
211    111-183
212      44-78
213     81-159
215     83-166
216    114-182
217      42-76
221    114-179
223     60-123
224    100-166
225    108-173
226      48-93
228     54-115
229     60-127
230     90-179
233    138-224
234     54-115
235     190-220
239      35-62
240      18-25
242      39-66
243     81-167
245      42-86
246     69-127
247      21-34
248      40-68
250     49-113
251     75-140
253     86-139
254     66-112
255     76-125
256      44-86
257      15-25
258      53-92
259      44-78
260     85-134
262     59-110
263     64-111
264     65-120
265     60-103
266     53-105
267    124-204
268    131-207
269    110-174
270      33-62
273     52-101
274      48-90
275      34-64
276    132-211
277     81-133
278      42-76
281     66-111
282     74-140
284     63-110
285     63-105
288     91-138
289    100-190
290     62-114
291     71-129
292      43-80
293     74-119
295      55-97
296       15-16
299     61-106
300     91-149
302    127-199
305     74-126
306      33-72
307      17-24
308      37-63
309     67-119
310     72-117
311    116-185
312     78-126
313      42-82
314     59-116
316     63-105
317    109-177
318    116-194
319      48-95
320     83-133
322    105-198
323      31-72
324     98-182
325     55-100
326      45-82
328     83-135
330     70-122
331     200-250
332     70-132
333     73-124
334     54-101
335    117-206
337      21-34
339    111-183
341     68-112
342      42-74
344      44-78
346     81-159
347     95-161
348     75-124
349     72-120
350     76-126
351    114-182
352    108-176
353    130-208
354     83-166
355      42-76
356      37-68
357      52-99
358    105-173
362     71-134
364      39-82
366    114-179
367     88-162
368     60-102
369    100-166
370      55-99
371     67-117
372     92-150
375    116-209
376      38-82
377       85-90
379     62-119
380     86-143
381     93-149
382     84-136
383     60-123
384      52-89
386      48-93
387      56-97
388     65-119
390    108-173
391     63-101
392     54-115
394     90-179
396    127-202
397      31-57
398     60-127
399     75-143
400    105-194
401      45-86
403     95-154
406     80-148
407      36-62
409     54-115
410      50-92
411     67-135
412     82-132
413     85-140
414    138-224
415      42-80
416     190-220
417     68-139
419      34-92
420      54-71
421     65-124
425      35-62
426    109-200
427      18-25
428     61-113
429      39-66
430      43-86
431     74-149
433    113-196
434     81-167
435     97-160
437      24-39
442      42-86
443     69-127
444    110-175
446    102-172
447     74-124
448      40-68
449    108-171
450     76-142
452    202-306
454      49-97
455     49-113
456      21-34
458     65-134
459      32-59
461     87-158
462    107-173
463      56-99
464      25-28
466     80-155
467      43-98
468      45-78
469      44-96
470     50-110
471     61-119
472     100-140
473      56-91
476     68-114
477     150-160
479    101-158
482    125-210
483      43-77
485    139-221
486      44-86
487     78-147
488     65-110
489      37-66
490      38-64
491      43-82
492      90-110
493     61-109
494     93-151
495      52-81
496     40-101
497     97-180
498     81-134
499     84-157
500     49-113
501     68-139
502     75-140
505    121-203
506      52-85
507     81-140
508      63-99
509     110-150
510     83-148
512     60-101
516      31-55
517    102-178
518     110-130
519      48-85
520     66-123
521     92-146
522      21-29
523      10-17
524    150-239
525      52-91
526      82-129
528     47-101
530      49-76
532      43-88
533    124-199
534      52-93
535     97-181
537    100-173
538      53-96
539      65-96
540      56-95
541    111-176
542     75-127
543     65-119
544      56-97
545    108-173
546     94-139
548    176-289
549     92-149
550     63-101
552     54-115
554    118-188
555    108-146
556     65-106
557      55-98
558     94-162
560     63-120
561     90-179
562    127-202
563     60-127
565      31-57
566    105-194
567      45-86
568     75-143
570    126-228
572     80-134
573    120-189
575     85-142
576     95-154
577    111-176
578     87-140
579     76-127
580      54-92
582     61-100
583     81-140
585     80-148
586    108-171
587    112-179
588     63-111
589     75-126
590    110-184
591     76-145
594      36-62
595     70-118
597     94-153
599     54-115
600      50-92
601      49-97
602     67-135
603    138-224
604     80-139
605    158-211
606    150-180
607      42-80
608     190-220
609      42-77
610     68-139
613      54-71
614      34-92
616      47-85
617     65-124
619      56-95
622     62-112
623    107-173
624     64-108
625     89-144
627    109-200
629     61-113
630      35-62
631     55-105
632      18-25
633      39-66
634    135-211
635      57-80
636    129-215
637     86-143
638     63-127
639      50-89
640      43-86
642     74-149
643     71-124
644    113-196
645     81-167
646     69-121
647     97-160
648    150-238
651     77-132
652      24-39
653     59-112
654      35-65
655     79-147
658     62-119
660    119-187
661     90-157
662      32-62
663      42-86
664    116-208
665    102-172
666     69-127
668     86-144
669    102-165
670     74-124
671      40-68
672     76-142
673     76-142
674    108-171
675    202-306
676     91-159
678     80-133
679      49-97
681     49-113
682      21-34
683     65-134
685      32-59
687      39-69
688     87-158
689      27-48
690      36-71
691    107-173
692      56-99
694      25-28
695     80-155
696      43-98
697      44-96
698      45-78
699     50-110
700      60-99
701    130-206
702     61-119
703     100-140
704     99-178
705     86-137
706     37-100
707     58-111
708     72-133
709      56-91
711     61-126
712     95-160
714      53-91
715    101-158
718      33-61
719      44-86
721      43-77
722    125-210
723      44-86
725     69-119
726     65-110
727     67-127
728     78-147
730     66-117
731      37-66
732     86-143
733     84-146
734      50-98
735      38-64
736      90-110
737     92-150
738     90-153
740      43-82
741     100-135
742     93-151
743     61-109
744      42-79
745    139-221
746     40-101
747     84-153
748      52-81
749     81-134
750     97-180
751     49-113
752      44-73
753     75-140
754     84-157
755      40-87
756     68-139
757     72-142
758     74-137
759     57-109
761    121-203
763      52-85
766     81-140
767     83-148
768     59-116
769     60-101
773      31-55
776    102-178
777    136-208
778     110-130
779      48-85
780     71-129
781     66-123
782    171-272
783     92-146
784     65-126
785    150-239
786      21-29
787      10-17
788    118-228
789      82-129
790      52-91
791     47-101
794      49-76
795      43-88
797     61-109
799    113-182
802    124-199
803     58-104
804      52-93
806     97-181
807    100-173
808     58-108
809     81-161
810      53-96
811     61-110
812      65-96
815    115-220
816     71-144
817      32-57
818     79-136
819     120-145
820      50-89
821     68-129
822     48-113
823      27-47
824     74-124
825     68-125
826      39-67
827     71-135
828    107-172
829      49-85
830      54-71
831     61-123
832      47-85
836     65-124
837     87-141
838      56-95
839     71-121
840     62-112
841     64-108
845     89-144
848    109-200
851      35-62
852     61-113
853     55-105
854      18-25
855    135-211
856      39-66
857      57-80
858     63-127
859      50-89
860     82-132
861     85-139
863     72-121
864     74-149
866    113-196
867     69-121
868     71-124
869     97-160
870     81-167
871    150-238
875      24-39
877      35-65
878     77-132
879      51-88
880    101-141
881     59-112
883     79-147
884     79-127
886     62-119
887    119-187
892     81-132
893     120-140
895     90-157
896     63-110
897      42-86
898      32-62
899    116-208
900    107-173
901     65-113
902     69-127
904    102-172
907     74-124
909      40-68
910     76-142
911     76-142
912    108-171
913    202-306
914     91-159
916     80-133
919      21-34
920      49-97
921     49-113
924     96-161
926     65-134
928     59-125
929      32-59
930     87-158
931      27-48
932      39-69
933      36-71
934    107-173
935      56-99
936      25-28
938     80-155
939      43-98
940      45-78
941     50-110
942      44-96
943     100-140
944     61-119
945     80-142
946     99-178
947     37-100
948     62-113
949     86-137
950     58-111
951     72-133
952      56-91
953     95-160
955     61-126
Name: Salary Estimate, dtype: object

In [404]:
regex_df['min salary'] = remove_text.apply(lambda x: x.split('-')[0])

In [405]:
regex_df['max_salary'] =  remove_text.apply(lambda x:x.split('-')[1])

### Company Name Parse

In [407]:
remove_n = regex_df['Company Name'].apply(lambda x: x.replace('\n', ','))

0                                  Tecolote Research,3.8
1              University of Maryland Medical System,3.4
2                                            KnowBe4,4.8
3                                               PNNL,3.8
4                                 Affinity Solutions,2.9
5                                           CyrusOne,3.4
6                                 ClearOne Advantage,4.1
7                                         Logic20/20,3.8
8                          Rochester Regional Health,3.3
9                                           <intent>,4.6
10                                              Wish,3.5
11                                           ManTech,4.1
12                                           Walmart,3.2
13                                            Yesler,4.1
14                            Takeda Pharmaceuticals,3.7
15                                           Audible,3.6
16                               Blueprint Medicines,3.9
17                                            h2o.ai,4.3
18                                              Nuna,4.2
19                                Pinnacol Assurance,4.0
20                                             Porch,3.2
21                                         Health IQ,3.9
22                                     Truckstop.com,3.8
23                                             SMC 3,4.3
25                                           Novetta,4.0
26                                            Pfizer,4.0
27                   First Tech Federal Credit Union,3.5
28                       The Hanover Insurance Group,3.7
29                                            Pfizer,4.0
30                                           KnowBe4,4.8
31                                              PNNL,3.8
32                                            Amrock,3.6
33                                          Novartis,3.8
34                                  Juniper Networks,3.8
35                               New England Biolabs,4.7
36                                  Clarity Insights,4.2
37                                              Esri,3.5
38                     Systems & Technology Research,4.7
39                                         Sartorius,3.5
40                                  Lancer Insurance,3.5
41                                        Sauce Labs,4.2
43                                          Persivia,3.6
44                                              Nuna,4.2
45                            Edgewell Personal Care,3.4
46                                Equity Residential,4.3
48                                      BPA Services,5.0
49                                         Visa Inc.,3.7
50                                           Intrado,3.1
51                                          Centauri,4.7
52                                       Caterpillar,3.7
54                             Zimmerman Advertising,3.8
55                          Liberty Mutual Insurance,3.3
56                          Torch Technologies, Inc.,4.6
57                                          Swiss Re,3.7
58                                  Northrop Grumman,3.7
59                                         Sartorius,3.5
60                                          Netskope,4.1
61                                          1904labs,4.7
62                                ClearOne Advantage,4.1
63                                          CyrusOne,3.4
65                       The David J. Joseph Company,4.4
66                                          USEReady,4.3
67                                          Bill.com,3.8
68             Pacific Northwest National Laboratory,3.8
70                 DICK'S Sporting Goods - Corporate,3.8
72                                       Berg Health,2.8
73                                 Oversight Systems,4.7
75                                           C Space,3.1
76                                      Numeric, LLC,3.2
77                                           HP Inc.,4.0
78                                          SpringML,4.4
79                                          Grainger,3.6
80                                  EAG Laboratories,2.7
81                                 The Buffalo Group,3.9
82                                          Carmeuse,3.1
83                                           HP Inc.,4.0
84                                            h2o.ai,4.3
85                                    GNS Healthcare,1.9
86                                           Peraton,3.3
87                                           Pactera,4.4
88                                              Nurx,3.9
89                                         webfx.com,4.7
90     Johns Hopkins University Applied Physics Labor...
91                                   Productive Edge,4.3
92                                Excella Consulting,4.0
93                                            Gensco,4.4
94                                           Walmart,3.2
95                                        Logic20/20,3.8
96                                             goTRG,4.2
97                                    NMR Consulting,4.5
99                                            iSeatz,3.5
101                              Nektar Therapeutics,3.5
102                                       TransUnion,3.9
104                                      IT Concepts,4.7
105                  Scientific Research Corporation,4.2
106          General Dynamics Information Technology,3.4
107                                            MITRE,3.2
108                                The Buffalo Group,3.9
109                                       DentaQuest,3.1
110                                          Redjack,4.1
112                                       7Park Data,3.8
113                        Rapid Response Monitoring,4.7
116                                       Trilogy Ed,4.3
117                                           Gallup,4.2
118                                          CapTech,3.9
119                    American Axle & Manufacturing,3.3
120                                     CentralReach,4.7
122                                        Integrate,4.3
123                               Boys Town Hospital,2.9
124                                       Demandbase,4.5
125                                 Sapphire Digital,3.4
126                           Takeda Pharmaceuticals,3.7
127                                         <intent>,4.6
128                                        Formation,3.2
129                                         Autodesk,4.0
130                                   Beck's Hybrids,4.6
131                                          DrFirst,2.8
132                                  Object Partners,4.7
136                            L.A. Care Health Plan,3.0
137                                     Red Ventures,3.2
138                                       Quick Base,4.4
139                         The E.W. Scripps Company,3.5
140                           Upside Business Travel,4.0
141                               Equity Residential,4.3
142                                          Synagro,2.3
143                          Alliance Source Testing,4.0
145                           Accuride International,3.6
146                         Full Potential Solutions,3.8
147                                        Visa Inc.,3.7
148                              Maven Wave Partners,4.4
150                                          Novetta,4.0
152           First Command Financial Services, Inc.,3.2
153                                       Pharmavite,2.9
154                          BioMarin Pharmaceutical,3.8
156                                  Stratagem Group,4.3
157                                    PA Consulting,3.4
158                                          ManTech,4.1
159                                           h2o.ai,4.3
161                                      Gridiron IT,5.0
162                                  Productive Edge,4.3
164                           Evolve Vacation Rental,3.7
166    The Church of Jesus Christ of Latter-day Saint...
167                     Maximus Real Estate Partners,4.3
168                   Software Engineering Institute,2.6
169                                             PNNL,3.8
170                                          AVANADE,3.9
171                                           h2o.ai,4.3
172                                     PatientPoint,3.8
174                BlueCross BlueShield of Tennessee,3.8
175                                             PNNL,3.8
177                                          KnowBe4,4.8
178                                   KSM Consulting,4.4
179                                        Cogo Labs,3.9
180                                  Church & Dwight,3.4
181                                       MassMutual,3.6
182                                        Genentech,3.9
183                                 Juniper Networks,3.8
185                           Takeda Pharmaceuticals,3.7
187                          Legal & General America,3.8
188                                  Western Digital,3.5
190                                        Health IQ,3.9
191                                             Nuna,4.2
192    The Church of Jesus Christ of Latter-day Saint...
193                                         Sunovion,3.5
194                   National Student Clearinghouse,2.9
197                                     Tower Health,3.6
198              State of Wisconsin Investment Board,2.7
199                              Rubius Therapeutics,4.4
200                                         Autodesk,4.0
201                                       OneMagnify,4.3
202                                             IZEA,4.2
203                                     Vionic Group,3.6
204                           Takeda Pharmaceuticals,3.7
205                           Dodge Data & Analytics,2.8
206                           Takeda Pharmaceuticals,3.7
207                          Plymouth Rock Assurance,3.3
208                                    CA-One Tech Cloud
209                                 Beebe Healthcare,3.6
210                           Takeda Pharmaceuticals,3.7
211                                    Argo Group US,3.4
212                  Associated Electric Cooperative,4.1
213                   Software Engineering Institute,2.6
215                                         PennyMac,3.2
216                                          Zest AI,3.9
217                   DECISIVE ANALYTICS Corporation,4.7
221                      The Hanover Insurance Group,3.7
223                     Karyopharm Therapeutics Inc.,2.9
224                                      Tempus Labs,3.0
225                        Recursion Pharmaceuticals,4.7
226                              P2 Energy Solutions,3.7
228                        Rochester Regional Health,3.3
229                                        ClearEdge,4.0
230                              Rubius Therapeutics,4.4
233                                           Tapjoy,3.9
234                        Rochester Regional Health,3.3
235                                    Credit Sesame,4.1
239                                San Manuel Casino,3.6
240                    Texas Health Huguley Hospital,4.0
242                             Teasdale Latin Foods,2.4
243                   Software Engineering Institute,2.6
245           Central California Alliance for Health,3.5
246                Pilot Flying J Travel Centers LLC,3.0
247                                 Beebe Healthcare,3.6
248                                  Palermo's Pizza,3.3
250                 Advanced BioScience Laboratories,2.7
251                            Echo Global Logistics,3.4
253                                    Truckstop.com,3.8
254                                  Lockheed Martin,3.7
255                                 Acuity Insurance,4.8
256                                       Fareportal,3.8
257    Veterans Affairs, Veterans Health Administrati...
258                                          Credera,4.3
259                                          KnowBe4,4.8
260                                  Church & Dwight,3.4
262                                        Cogo Labs,3.9
263           Spectrum Communications and Consulting,3.4
264                                           NCSOFT,3.1
265                                            MITRE,3.2
266                       Dayton Freight Lines, Inc.,4.3
267                                       MassMutual,3.6
268                                        Genentech,3.9
269                                 Juniper Networks,3.8
270    Community Action Partnership of San Luis Obisp...
273                           Takeda Pharmaceuticals,3.7
274                                       TrueAccord,3.4
275                                      DRB Systems,4.0
276                                  Western Digital,3.5
277                          Legal & General America,3.8
278                                       Corcentric,3.7
281                                          U.Group,3.5
282    The Church of Jesus Christ of Latter-day Saint...
284                                           Pfizer,4.0
285                                            SMC 3,4.3
288                           Systems Evolution Inc.,4.7
289                                         Sunovion,3.5
290                                       Eventbrite,4.4
291                                           Centro,4.1
292                   National Student Clearinghouse,2.9
293                                         comScore,2.5
295                                   SullivanCotter,4.2
296                                              NPD,3.9
299                                    Bakery Agency,4.3
300              State of Wisconsin Investment Board,2.7
302                                        Genentech,3.9
305         Blue Cross & Blue Shield of Rhode Island,3.4
306                                        Boys Town,3.8
307                                     Tower Health,3.6
308                       The HSC Health Care System,3.3
309                                   Pro-Sphere Tek,3.4
310                     Ameritas Life Insurance Corp,3.0
311                                         Autodesk,4.0
312                                         Genworth,3.7
313                              Rubius Therapeutics,4.4
314                                       OneMagnify,4.3
316                                           Pfizer,4.0
317                                          Novetta,4.0
318                                     Numeric, LLC,3.2
319                                             IZEA,4.2
320                                       Trace Data,3.9
322                           Takeda Pharmaceuticals,3.7
323                                     Vionic Group,3.6
324                           Takeda Pharmaceuticals,3.7
325                           Dodge Data & Analytics,2.8
326                             Clearwater Analytics,4.2
328                                 Tekvalley, Corp.,4.0
330                                 BWX Technologies,3.5
331                                    CA-One Tech Cloud
332                                         PennyMac,3.2
333                          Plymouth Rock Assurance,3.3
334                                          Vermeer,3.9
335                           Takeda Pharmaceuticals,3.7
337                                 Beebe Healthcare,3.6
339                                    Argo Group US,3.4
341                                     L&T Infotech,3.5
342                             OceanFirst Financial,4.3
344                  Associated Electric Cooperative,4.1
346                   Software Engineering Institute,2.6
347                                        Sotheby's,3.6
348                  First Tech Federal Credit Union,3.5
349                                           Amrock,3.6
350                            Vanda Pharmaceuticals,2.3
351                                          Zest AI,3.9
352                                          Novetta,4.0
353                                 CK-12 Foundation,4.1
354                                         PennyMac,3.2
355                   DECISIVE ANALYTICS Corporation,4.7
356                                 Opinion Dynamics,4.2
357                     Applied Information Sciences,4.6
358                                         Swiss Re,3.7
362                           Takeda Pharmaceuticals,3.7
364                                       WK Dickson,4.4
366                      The Hanover Insurance Group,3.7
367                                        Genentech,3.9
368                                       MassMutual,3.6
369                                      Tempus Labs,3.0
370          General Dynamics Information Technology,3.4
371                                          ManTech,4.1
372                                         Novartis,3.8
375                                         Autodesk,4.0
376                     Southwest Research Institute,3.9
377                                                 Muso
379                                         SpringML,4.4
380                                         Novartis,3.8
381                                 Juniper Networks,3.8
382                                The Integer Group,2.2
383                     Karyopharm Therapeutics Inc.,2.9
384                                          ManTech,4.1
386                              P2 Energy Solutions,3.7
387                                             PNNL,3.8
388                                       MassMutual,3.6
390                        Recursion Pharmaceuticals,4.7
391                                             Esri,3.5
392                        Rochester Regional Health,3.3
394                              Rubius Therapeutics,4.4
396                                         Samba TV,3.3
397                                     SV Microwave,3.4
398                                        ClearEdge,4.0
399                                         SpringML,4.4
400                                       Sumo Logic,3.8
401                                              EAB,3.5
403                            Brighthouse Financial,3.5
406                               Affinity Solutions,2.9
407                     Citadel Federal Credit Union,3.9
409                        Rochester Regional Health,3.3
410                                  CALIBRE Systems,3.7
411                                       MassMutual,3.6
412                                             Esri,3.5
413                              New England Biolabs,4.7
414                                           Tapjoy,3.9
415                               Motorola Solutions,3.7
416                                    Credit Sesame,4.1
417                                Reynolds American,3.1
419                                       MassMutual,3.6
420                                          Infosys,3.0
421                             Alignment Healthcare,3.5
425                                San Manuel Casino,3.6
426                                         Sunovion,3.5
427                    Texas Health Huguley Hospital,4.0
428                              Cboe Global Markets,3.7
429                             Teasdale Latin Foods,2.4
430                                       Guidepoint,3.2
431                                Cerus Corporation,2.1
433                           Takeda Pharmaceuticals,3.7
434                   Software Engineering Institute,2.6
435                              Maven Wave Partners,4.4
437                                      Vail Health,3.7
442           Central California Alliance for Health,3.5
443                Pilot Flying J Travel Centers LLC,3.0
444                                             Nuna,4.2
446                                      AstraZeneca,3.9

In [408]:
regex_df['company_txt'] = remove_n.apply(lambda x: x.split(',')[0])

# Location

In [409]:
extract_state = regex_df['Location'].apply(lambda x: x.split(',')[1])
extract_state = extract_state.apply(lambda x: x.replace('Los Angeles', 'CA'))

0       NM
1       MD
2       FL
3       WA
4       NY
5       TX
6       MD
7       CA
8       NY
9       NY
10      CA
11      VA
12      TX
13      WA
14      MA
15      NJ
16      MA
17      CA
18      CA
19      CO
20      WA
21      TX
22      IL
23      KY
25      VA
26      MA
27      OR
28      MA
29      CT
30      FL
31      WA
32      MI
33      MA
34      CA
35      MA
36      CA
37      CA
38      MA
39      CA
40      NY
41      CA
43      MA
44      CA
45      NJ
46      IL
48      DC
49      WA
50      CO
51      OH
52      IL
54      FL
55      MA
56      AL
57      NY
58      CA
59      NM
60      CA
61      MO
62      MD
63      TX
65      OH
66      NY
67      CA
68      WA
70      PA
72      MA
73      GA
75      MA
76      PA
77      WA
78      IN
79      IL
80      MO
81      VA
82      PA
83      WA
84      CA
85      MA
86      VA
87      CA
88      CA
89      PA
90      MD
91      IL
92      VA
93      WA
94      TX
95      CA
96      FL
97      AL
99      LA
101     CA
102     GA
104     MD
105     MD
106     MD
107     VA
108     VA
109     WI
110     MD
112     NY
113     NY
116     TX
117     DC
118     NC
119     MI
120     NJ
122     AZ
123     NE
124     CA
125     NJ
126     MA
127     NY
128     CA
129     CA
130     IN
131     MD
132     MN
136     CA
137     NC
138     MA
139     OH
140     DC
141     IL
142     MD
143     AL
145     CA
146     MO
147     VA
148     IL
150     VA
152     TX
153     CA
154     CA
156     CO
157     NY
158     VA
159     CA
161     FL
162     IL
164     CO
166     UT
167     CA
168     PA
169     WA
170     DC
171     IL
172     OH
174     TN
175     WA
177     FL
178     IN
179     MA
180     NJ
181     MA
182     CA
183     CA
185     MA
187     MD
188     CA
190     TX
191     CA
192     UT
193     MA
194     VA
197     PA
198     WI
199     MA
200     CA
201     MI
202     FL
203     CA
204     CA
205     NJ
206     MA
207     NJ
208     CA
209     DE
210     MA
211     NY
212     MO
213     PA
215     AZ
216     CA
217     AL
221     MA
223     MA
224     IL
225     UT
226     LA
228     NY
229     MD
230     MA
233     CA
234     NY
235     CA
239     CA
240     TX
242     IL
243     PA
245     CA
246     TN
247     DE
248     WI
250     MD
251     IL
253     IL
254     VA
255     WI
256     NY
257     LA
258     TX
259     FL
260     NJ
262     MA
263     IL
264     CA
265     VA
266     OH
267     MA
268     CA
269     CA
270     CA
273     MA
274     CA
275     ID
276     CA
277     MD
278     NJ
281     IN
282     UT
284     MA
285     KY
288     NY
289     MA
290     TN
291     IL
292     VA
293     OR
295     MN
296     NY
299     TX
300     WI
302     CA
305     RI
306     NE
307     PA
308     DC
309     TX
310     OH
311     CA
312     NC
313     MA
314     MI
316     CT
317     VA
318     PA
319     FL
320     CA
322     CA
323     CA
324     MA
325     NJ
326     ID
328     CA
330     TN
331     CA
332     CA
333     NJ
334     IA
335     MA
337     DE
339     NY
341     CA
342     NJ
344     MO
346     PA
347     NY
348     OR
349     MI
350     DC
351     CA
352     VA
353     CA
354     AZ
355     AL
356     CA
357     TX
358     NY
362     MA
364     SC
366     MA
367     CA
368     MA
369     IL
370     DC
371     VA
372     MA
375     CA
376     TX
377     CA
379     IN
380     MA
381     CA
382     TX
383     MA
384     VA
386     LA
387     WA
388     MA
390     UT
391     VA
392     NY
394     MA
396     CA
397     FL
398     MD
399     VA
400     TX
401     DC
403     NC
406     CA
407     PA
409     NY
410     VA
411     MA
412     CA
413     MA
414     CA
415     IL
416     CA
417     KY
419     MA
420     CT
421     CA
425     CA
426     MA
427     TX
428     KS
429     IL
430     NY
431     CA
433     MA
434     PA
435     IL
437     CO
442     CA
443     TN
444     CA
446     NY
447     CO
448     WI
449     MA
450     MD
452     IL
454     CA
455     MD
456     DE
458     NC
459     OH
461     IN
462     IL
463     VA
464     MA
466     NC
467     CA
468     CA
469     NY
470     GA
471     MA
472     MA
473     PA
476     FL
477     DC
479     MA
482     NY
483     WI
485     CA
486     NY
487     NC
488     NY
489     IN
490     CA
491     MA
492     AZ
493     VA
494     FL
495     IL
496     MO
497     TX
498     MA
499     MA
500     MD
501     KY
502     IL
505     CA
506     CA
507     OH
508     IL
509     IL
510     IA
512     WA
516     IA
517     MA
518     MA
519     PA
520     CA
521     WA
522     NE
523     TN
524     IL
525     TX
526     TX
528     NC
530     AL
532     NC
533     NJ
534     PA
535     CA
537     CA
538     NY
539     NC
540     NM
541     MO
542     VA
543     MA
544     WA
545     UT
546     NJ
548     CA
549     CA
550     VA
552     NY
554     CA
555     CA
556     CA
557     NY
558     NY
560     PA
561     MA
562     CA
563     MD
565     FL
566     TX
567     DC
568     VA
570     CA
572     VA
573     CA
575     CA
576     NC
577     CA
578     CA
579     VA
580     NY
582     NY
583     NY
585     CA
586     CA
587     NY
588     NY
589     MA
590     NY
591     NY
594     PA
595     MA
597     NY
599     NY
600     VA
601     OR
602     MA
603     CA
604     CA
605     WA
606     NY
607     IL
608     CA
609     NY
610     KY
613     CT
614     MA
616     NY
617     CA
619     NY
622     VA
623     MD
624     MD
625     CA
627     MA
629     KS
630     CA
631     TX
632     TX
633     IL
634     CA
635     AZ
636     NY
637     MA
638     MD
639     MA
640     NY
642     CA
643     NY
644     MA
645     PA
646     NY
647     IL
648     CA
651     NY
652     CO
653     NC
654     UT
655     CA
658     MA
660     CA
661     CA
662     NY
663     CA
664     CA
665     NY
666     TN
668     NY
669     CO
670     CO
671     WI
672     TN
673     MD
674     MA
675     IL
676     NY
678     MA
679     CA
681     MD
682     DE
683     NC
685     OH
687     MA
688     IN
689     FL
690     NY
691     IL
692     VA
694     MA
695     NC
696     CA
697     NY
698     CA
699     GA
700     GA
701     CA
702     MA
703     MA
704     CA
705     PA
706     MA
707     MA
708     TN
709     PA
711     OH
712     PA
714     UT
715     MA
718     UT
719     AL
721     WI
722     NY
723     NY
725     VA
726     NY
727     VA
728     NC
730     MA
731     IN
732     MA
733     NY
734     PA
735     CA
736     AZ
737     MA
738     CA
740     MA
741     MA
742     FL
743     VA
744     AZ
745     CA
746     MO
747     VA
748     IL
749     MA
750     TX
751     MD
752     IL
753     IL
754     MA
755     CA
756     KY
757     CA
758     VA
759     CA
761     CA
763     CA
766     OH
767     IA
768     CA
769     WA
773     IA
776     MA
777     MA
778     MA
779     PA
780     CA
781     CA
782     CA
783     WA
784     IL
785     IL
786     NE
787     TN
788     NJ
789     TX
790     TX
791     NC
794     AL
795     NC
797     PA
799     MD
802     NJ
803     VA
804     PA
806     CA
807     CA
808     NY
809     MA
810     NY
811     CA
812     NC
815     MA
816     PA
817     WA
818     MD
819     MA
820     PA
821     CA
822     MD
823     MA
824     MD
825     MA
826     MA
827     CA
828     CA
829     WA
830     CT
831     MD
832     NY
836     CA
837     NJ
838     NY
839     MO
840     VA
841     MD
845     CA
848     MA
851     CA
852     KS
853     TX
854     TX
855     CA
856     IL
857     AZ
858     MD
859     MA
860     OH
861     VA
863     DC
864     CA
866     MA
867     NY
868     NY
869     IL
870     PA
871     CA
875     CO
877     UT
878     NY
879     AZ
880     CA
881     NC
883     CA
884     CA
886     MA
887     CA
892     VA
893     MI
895     CA
896     NY
897     CA
898     NY
899     CA
900     MD
901     WA
902     TN
904     NY
907     CO
909     WI
910     TN
911     MD
912     MA
913     IL
914     NY
916     MA
919     DE
920     CA
921     MD
924     PA
926     NC
928     CA
929     OH
930     IN
931     FL
932     MA
933     NY
934     IL
935     VA
936     MA
938     NC
939     CA
940     CA
941     GA
942     NY
943     MA
944     MA
945     CA
946     CA
947     MA
948     CA
949     PA
950     MA
951     TN
952     PA
953     PA
955     OH
Name: Location, dtype: object

In [410]:
extract_city = regex_df['Location'].apply(lambda x: x.split(',')[0])

0              Albuquerque
1                Linthicum
2               Clearwater
3                 Richland
4                 New York
5                   Dallas
6                Baltimore
7                 San Jose
8                Rochester
9                 New York
10                San Jose
11               Chantilly
12                   Plano
13                 Seattle
14               Cambridge
15                  Newark
16               Cambridge
17           Mountain View
18           San Francisco
19                  Denver
20                 Seattle
21                  Dallas
22                 Chicago
23              Louisville
25                 Herndon
26               Cambridge
27               Hillsboro
28               Worcester
29                  Groton
30              Clearwater
31                Richland
32                 Detroit
33               Cambridge
34               Sunnyvale
35                 Ipswich
36                San Jose
37                Redlands
38                  Woburn
39                 Fremont
40              Long Beach
41           San Francisco
43             Marlborough
44           San Francisco
45               Allendale
46                 Chicago
48              Washington
49                Bellevue
50                Longmont
51             Beavercreek
52                  Peoria
54         Fort Lauderdale
55                  Boston
56              Huntsville
57                  Armonk
58               San Diego
59             Albuquerque
60           San Francisco
61             Saint Louis
62               Baltimore
63                  Dallas
65              Cincinnati
66                New York
67               Palo Alto
68                Richland
70              Coraopolis
72              Framingham
73                 Atlanta
75                  Boston
76            Philadelphia
77               Vancouver
78            Indianapolis
79             Lake Forest
80        Maryland Heights
81         Charlottesville
82              Pittsburgh
83               Vancouver
84           Mountain View
85               Cambridge
86               Chantilly
87                San Jose
88           San Francisco
89              Harrisburg
90                  Laurel
91                 Chicago
92               Arlington
93                  Tacoma
94                   Plano
95                San Jose
96                   Miami
97              Huntsville
99             New Orleans
101          San Francisco
102                Atlanta
104               Landover
105         Patuxent River
106               Suitland
107                 McLean
108           Fort Belvoir
109              Milwaukee
110          Silver Spring
112               New York
113               Syracuse
116                Houston
117             Washington
118              Charlotte
119             Southfield
120                Matawan
122                Phoenix
123                  Omaha
124          San Francisco
125              Lyndhurst
126              Cambridge
127               New York
128          San Francisco
129          San Francisco
130                Atlanta
131              Rockville
132            Minneapolis
136            Los Angeles
137              Charlotte
138              Cambridge
139             Cincinnati
140             Washington
141                Chicago
142              Baltimore
143              Alabaster
145       Santa Fe Springs
146            Kansas City
147                Ashburn
148                Chicago
150                Herndon
152             Fort Worth
153               Valencia
154                 Novato
156                 Aurora
157               New York
158              Chantilly
159          Mountain View
161                  Tampa
162                Chicago
164                 Denver
166               Riverton
167          San Francisco
168             Pittsburgh
169               Richland
170             Washington
171                Chicago
172             Cincinnati
174            Chattanooga
175               Richland
177             Clearwater
178           Indianapolis
179              Cambridge
180                  Ewing
181                 Boston
182    South San Francisco
183              Cupertino
185                 Boston
187              Frederick
188               San Jose
190                 Dallas
191          San Francisco
192               Riverton
193            Marlborough
194                Herndon
197           West Reading
198                Madison
199              Cambridge
200          San Francisco
201               Dearborn
202            Winter Park
203             San Rafael
204              San Diego
205               Hamilton
206                 Boston
207             Woodbridge
208          San Francisco
209                  Lewes
210                 Boston
211               New York
212            Springfield
213             Pittsburgh
215                Phoenix
216                Burbank
217             Huntsville
221              Worcester
223                 Newton
224                Chicago
225         Salt Lake City
226              Lafayette
228              Rochester
229     Annapolis Junction
230              Cambridge
233          San Francisco
234              Rochester
235          Mountain View
239               Highland
240               Burleson
242              Hoopeston
243             Pittsburgh
245          Scotts Valley
246              Knoxville
247              Millville
248              Milwaukee
250              Rockville
251                Chicago
253                Chicago
254                Herndon
255              Sheboygan
256               New York
257            New Orleans
258                 Dallas
259             Clearwater
260                  Ewing
262              Cambridge
263                Chicago
264              San Mateo
265                 McLean
266                 Dayton
267                 Boston
268    South San Francisco
269              Cupertino
270                Parlier
273                 Boston
274          San Francisco
275               Meridian
276               San Jose
277              Frederick
278            Cherry Hill
281           Indianapolis
282               Riverton
284              Cambridge
285             Louisville
288               New York
289            Marlborough
290              Nashville
291                Chicago
292                Herndon
293               Portland
295            Minneapolis
296        Port Washington
299                 Austin
300                Madison
302    South San Francisco
305             Providence
306                  Omaha
307           West Reading
308             Washington
309                 Austin
310             Cincinnati
311          San Francisco
312                Raleigh
313              Cambridge
314               Dearborn
316                 Groton
317                Herndon
318                  Phila
319            Winter Park
320                Oakland
322              San Diego
323             San Rafael
324                 Boston
325               Hamilton
326                  Boise
328          San Francisco
330              Oak Ridge
331          San Francisco
332           Agoura Hills
333             Woodbridge
334                  Pella
335                 Boston
337                  Lewes
339               New York
341              San Ramon
342               Red Bank
344            Springfield
346             Pittsburgh
347               New York
348              Hillsboro
349                Detroit
350             Washington
351                Burbank
352           Fort Belvoir
353              Palo Alto
354                Phoenix
355             Huntsville
356              San Diego
357                Houston
358                 Armonk
362              Cambridge
364               Columbia
366              Worcester
367    South San Francisco
368            Springfield
369                Chicago
370             Washington
371                Herndon
372              Cambridge
375          San Francisco
376            San Antonio
377          San Francisco
379           Indianapolis
380              Cambridge
381              Sunnyvale
382                 Dallas
383                 Newton
384             Portsmouth
386              Lafayette
387               Richland
388            Springfield
390         Salt Lake City
391              Arlington
392              Rochester
394              Cambridge
396          San Francisco
397        West Palm Beach
398     Annapolis Junction
399                Herndon
400                 Austin
401             Washington
403              Charlotte
406               San Jose
407                  Exton
409              Rochester
410             Alexandria
411                 Boston
412               Redlands
413                Ipswich
414          San Francisco
415                Chicago
416          Mountain View
417              Owensboro
419            Springfield
420               Hartford
421                 Orange
425               Highland
426            Marlborough
427               Burleson
428                 Lenexa
429              Hoopeston
430               New York
431                Concord
433              Cambridge
434             Pittsburgh
435                Chicago
437                   Vail
442          Scotts Valley
443              Knoxville
444          San Francisco
446               New York
447                 Denver
448              Milwaukee
449                 Natick
450              Rockville
452                Chicago
454    South San Francisco
455              Rockville
456              Millville
458          Winston-Salem
459              Richfield
461           Indianapolis
462                Chicago
463                Hampton
464              Cambridge
466          Winston-Salem
467              San Diego
468          San Francisco
469                 Ithaca
470               Marietta
471                 Quincy
472              Cambridge
473             Pittsburgh
476        Fort Lauderdale
477             Washington
479                 Boston
482               New York
483              Green Bay
485                Burbank
486               New York
487                 Durham
488               New York
489           Indianapolis
490                 Clovis
491                 Boston
492               Chandler
493              Chantilly
494                Orlando
495                Chicago
496               Columbia
497                 Austin
498                 Boston
499              Cambridge
500              Rockville
501              Owensboro
502                Chicago
505          San Francisco
506               Redlands
507               Westlake
508                 Peoria
509                Chicago
510             Des Moines
512               Richland
516           Cedar Rapids
517              Cambridge
518              Cambridge
519           Philadelphia
520          San Francisco
521                Seattle
522                  Omaha
523              Nashville
524                Chicago
525            San Antonio
526                 Austin
528          Winston-Salem
530             Huntsville
532                 Durham
533               Fort Lee
534              Blue Bell
535          San Francisco
537          San Francisco
538               New York
539          Winston-Salem
540            Albuquerque
541            Saint Louis
542            Springfield
543            Springfield
544               Richland
545         Salt Lake City
546            Jersey City
548          San Francisco
549          San Francisco
550              Arlington
552              Rochester
554             Emeryville
555              Palo Alto
556          Santa Barbara
557            Carle Place
558               New York
560        King of Prussia
561              Cambridge
562          San Francisco
563     Annapolis Junction
565        West Palm Beach
566                 Austin
567             Washington
568                Herndon
570          Mountain View
572              Arlington
573            Santa Clara
575            Santa Clara
576              Charlotte
577               Brisbane
578          San Francisco
579            Springfield
580               New York
582               New York
583               New York
585               San Jose
586            Foster City
587               New York
588               New York
589                Holyoke
590               New York
591               New York
594                  Exton
595                Waltham
597               New York
599              Rochester
600             Alexandria
601              Corvallis
602                 Boston
603          San Francisco
604              San Diego
605               Bellevue
606               New York
607                Chicago
608          Mountain View
609               New York
610              Owensboro
613               Hartford
614            Springfield
616               New York
617                 Orange
619               New York
622           Fort Belvoir
623           Gaithersburg
624          Silver Spring
625              Palo Alto
627            Marlborough
629                 Lenexa
630               Highland
631                Houston
632               Burleson
633              Hoopeston
634               San Jose
635                Phoenix
636               New York
637                 Boston
638           Gaithersburg
639                Bedford
640               New York
642                Concord
643               New York
644              Cambridge
645             Pittsburgh
646               New York
647                Chicago
648          San Francisco
651               New York
652                   Vail
653              Charlotte
654         Salt Lake City
655            Aliso Viejo
658              Cambridge
660            Los Angeles
661                 Dublin
662               New York
663          Scotts Valley
664               San Jose
665               New York
666              Knoxville
668                 Armonk
669                 Arvada
670                 Denver
671              Milwaukee
672               Franklin
673              Rockville
674                 Natick
675                Chicago
676               New York
678              Cambridge
679    South San Francisco
681              Rockville
682              Millville
683          Winston-Salem
685              Richfield
687              Worcester
688           Indianapolis
689                  Tampa
690               New York
691                Chicago
692                Hampton
694              Cambridge
695          Winston-Salem
696              San Diego
697                 Ithaca
698          San Francisco
699               Marietta
700                Atlanta
701          Mountain View
702                 Quincy
703              Cambridge
704          San Francisco
705       Plymouth Meeting
706                 Boston
707              Cambridge
708              Nashville
709             Pittsburgh
711            Beavercreek
712              Allentown
714         Salt Lake City
715                 Boston
718                  Logan
719             Birmingham
721              Green Bay
722               New York
723               New York
725                Herndon
726               New York
727                 Reston
728                 Durham
730                 Boston
731           Indianapolis
732              Cambridge
733               New York
734                  Phila
735                 Clovis
736               Chandler
737              Cambridge
738          San Francisco
740                 Boston
741              Cambridge
742                Orlando
743              Chantilly
744             Scottsdale
745                Burbank
746               Columbia
747              Chantilly
748                Chicago
749                 Boston
750                 Austin
751              Rockville
752            Bloomington
753                Chicago
754              Cambridge
755          San Francisco
756              Owensboro
757                Fremont
758            Springfield
759              San Diego
761          San Francisco
763               Redlands
766               Westlake
767             Des Moines
768                Alameda
769               Richland
773           Cedar Rapids
776              Cambridge
777              Cambridge
778              Cambridge
779           Philadelphia
780                Alameda
781          San Francisco
782          San Francisco
783                Seattle
784                Chicago
785                Chicago
786                  Omaha
787              Nashville
788            Jersey City
789                 Austin
790            San Antonio
791          Winston-Salem
794             Huntsville
795                 Durham
797             Coraopolis
799           Gaithersburg
802               Fort Lee
803                Roanoke
804              Blue Bell
806          San Francisco
807          San Francisco
808               New York
809              Cambridge
810               New York
811          San Francisco
812          Winston-Salem
815              Cambridge
816             Pittsburgh
817                Seattle
818            Glen Burnie
819              Cambridge
820           Philadelphia
821               Milpitas
822              Rockville
823              Watertown
824              Cambridge
825              Cambridge
826                 Boston
827            Los Angeles
828              Palo Alto
829               Richland
830               Hartford
831           Gaithersburg
832               New York
836                 Orange
837               Fort Lee
838               New York
839       Maryland Heights
840           Fort Belvoir
841          Silver Spring
845              Palo Alto
848            Marlborough
851               Highland
852                 Lenexa
853                Houston
854               Burleson
855               San Jose
856              Hoopeston
857                Phoenix
858           Gaithersburg
859                Bedford
860             Cincinnati
861        Charlottesville
863             Washington
864                Concord
866              Cambridge
867               New York
868               New York
869                Chicago
870             Pittsburgh
871          San Francisco
875                   Vail
877         Salt Lake City
878               New York
879                Phoenix
880                 Irvine
881              Charlotte
883            Aliso Viejo
884          San Francisco
886              Cambridge
887            Los Angeles
892                 McLean
893              Ann Arbor
895                 Dublin
896               New York
897          Scotts Valley
898               New York
899               San Jose
900           Gaithersburg
901                Olympia
902              Knoxville
904               New York
907                 Denver
909              Milwaukee
910               Franklin
911              Rockville
912                 Natick
913                Chicago
914               New York
916              Cambridge
919              Millville
920    South San Francisco
921              Rockville
924           Philadelphia
926          Winston-Salem
928    South San Francisco
929              Richfield
930           Indianapolis
931                  Tampa
932              Worcester
933               New York
934                Chicago
935                Hampton
936              Cambridge
938          Winston-Salem
939              San Diego
940          San Francisco
941               Marietta
942                 Ithaca
943              Cambridge
944                 Quincy
945              Palo Alto
946          San Francisco
947                 Boston
948          San Francisco
949       Plymouth Meeting
950              Cambridge
951              Nashville
952             Pittsburgh

In [411]:
regex_df['State'] = extract_state
regex_df['City'] = extract_city

In [412]:
# It was throwing an error with x.split(',')[1], so used [-1] to get the states values.
extract_hq_state = regex_df['Headquarters'].apply(lambda x: x.split(',')[-1])

0                   CA
1                   MD
2                   FL
3                   WA
4                   NY
5                   TX
6                   MD
7                   WA
8                   NY
9                   NY
10                  CA
11                  VA
12                  AR
13                  WA
14               Japan
15                  NJ
16                  MA
17                  CA
18                  CA
19                  CO
20                  WA
21                  CA
22                  ID
23                  GA
25                  VA
26                  NY
27                  CA
28                  MA
29                  NY
30                  FL
31                  WA
32                  MI
33         Switzerland
34                  CA
35                  MA
36                  IL
37                  CA
38                  MA
39             Germany
40                  NY
41                  CA
43                  MA
44                  CA
45                  CT
46                  IL
48                  VA
49                  CA
50                  NE
51                  VA
52                  IL
54                  FL
55                  MA
56                  AL
57         Switzerland
58                  VA
59             Germany
60                  CA
61                  MO
62                  MD
63                  TX
65                  OH
66                  NY
67                  CA
68                  WA
70                  PA
72                  MA
73                  GA
75                  MA
76                  PA
77                  CA
78                  CA
79                  IL
80                  CA
81                  VA
82             Belgium
83                  CA
84                  CA
85                  MA
86                  VA
87               China
88                  CA
89                  PA
90                  MD
91                  IL
92                  VA
93                  WA
94                  AR
95                  WA
96                  FL
97                  VA
99                  LA
101                 CA
102                 IL
104                 VA
105                 GA
106                 VA
107                 MA
108                 VA
109                 MA
110                 MD
112                 NY
113                 NY
116                 NY
117                 DC
118                 VA
119                 MI
120                 FL
122                 AZ
123                 NE
124                 CA
125                 NJ
126              Japan
127                 NY
128                 CA
129                 CA
130                 IN
131                 MD
132                 MN
136                 CA
137                 SC
138                 MA
139                 OH
140                 DC
141                 IL
142                 MD
143                 AL
145                 CA
146                 MO
147                 CA
148                 IL
150                 VA
152                 TX
153                 CA
154                 CA
156                 CO
157     United Kingdom
158                 VA
159                 CA
161                 VA
162                 IL
164                 CO
166                 UT
167                 CA
168                 PA
169                 WA
170                 WA
171                 CA
172                 OH
174                 TN
175                 WA
177                 FL
178                 IN
179                 MA
180                 NJ
181                 MA
182                 CA
183                 CA
185              Japan
187                 MD
188                 CA
190                 CA
191                 CA
192                 UT
193                 MA
194                 VA
197                 PA
198                 WI
199                 MA
200                 CA
201                 MI
202                 FL
203                 CA
204              Japan
205                 NJ
206              Japan
207                 MA
208                 CA
209                 DE
210              Japan
211            Bermuda
212                 MO
213                 PA
215                 CA
216                 CA
217                 VA
221                 MA
223                 MA
224                 IL
225                 UT
226                 CO
228                 NY
229                 MD
230                 MA
233                 CA
234                 NY
235                 CA
239                 CA
240                 TX
242                 TX
243                 PA
245                 CA
246                 TN
247                 DE
248                 WI
250                 MD
251                 IL
253                 ID
254                 MD
255                 WI
256                 NY
257                 DC
258                 TX
259                 FL
260                 NJ
262                 MA
263                 IL
264        South Korea
265                 MA
266                 OH
267                 MA
268                 CA
269                 CA
270                 CA
273              Japan
274                 CA
275                 OH
276                 CA
277                 MD
278                 NJ
281                 VA
282                 UT
284                 NY
285                 GA
288                 OH
289                 MA
290                 CA
291                 IL
292                 VA
293                 VA
295                 IL
296                 NY
299                 TX
300                 WI
302                 CA
305                 RI
306                 NE
307                 PA
308                 DC
309                 VA
310                 NE
311                 CA
312                 VA
313                 MA
314                 MI
316                 NY
317                 VA
318                 PA
319                 FL
320                 CA
322              Japan
323                 CA
324              Japan
325                 NJ
326                 ID
328                 CA
330                 VA
331                 CA
332                 CA
333                 MA
334                 IA
335              Japan
337                 DE
339            Bermuda
341              India
342                 NJ
344                 MO
346                 PA
347                 NY
348                 CA
349                 MI
350                 DC
351                 CA
352                 VA
353                 CA
354                 CA
355                 VA
356                 MA
357                 VA
358        Switzerland
362              Japan
364                 NC
366                 MA
367                 CA
368                 MA
369                 IL
370                 VA
371                 VA
372        Switzerland
375                 CA
376                 TX
377                 CA
379                 CA
380        Switzerland
381                 CA
382                 CO
383                 MA
384                 VA
386                 CO
387                 WA
388                 MA
390                 UT
391                 CA
392                 NY
394                 MA
396                 CA
397                 FL
398                 MD
399                 CA
400                 CA
401                 DC
403                 NC
406                 NY
407                 PA
409                 NY
410                 VA
411                 MA
412                 CA
413                 MA
414                 CA
415                 IL
416                 CA
417                 NC
419                 MA
420              India
421                 CA
425                 CA
426                 MA
427                 TX
428                 IL
429                 TX
430                 NY
431                 CA
433              Japan
434                 PA
435                 IL
437                 CO
442                 CA
443                 TN
444                 CA
446     United Kingdom
447                 CO
448                 WI
449                 MA
450                 VA
452                 MA
454                 CA
455                 MD
456                 DE
458                 NC
459                 OH
461                 IN
462                 IL
463                 MA
464                 MA
466                 NC
467                 CA
468                 CA
469                 NC
470                 NC
471                 MA
472                 CA
473                 PA
476                 FL
477                 VA
479                 MA
482                 NY
483                 WI
485                 CA
486                 NY
487                 CA
488                 NY
489                 MA
490                 CA
491              Spain
492                 TN
493                 DC
494                 FL
495                 FL
496                 MO
497                 TX
498     United Kingdom
499                 MA
500                 MD
501                 NC
502                 IL
505                 CA
506                 CA
507                 NY
508                 IL
509                 IL
510                 IA
512                 WA
516                 IA
517                 MA
518                 CA
519                 PA
520                 CA
521                 WA
522                 CO
523                 GA
524                 MA
525                 TX
526                 TX
528                 NC
530                 MA
532                 NC
533                 NJ
534                 PA
535                 CA
537                 CA
538                 NY
539                 NC
540            Germany
541                 MO
542                 VA
543                 MA
544                 WA
545                 UT
546                 NY
548                 CA
549                 CA
550                 CA
552                 NY
554                 TN
555                 CA
556                 CA
557                 NY
558                 CA
560                 PA
561                 MA
562                 CA
563                 MD
565                 FL
566                 CA
567                 DC
568                 CA
570                 CA
572                 MA
573                 CA
575                 NJ
576                 NC
577                 CA
578                 MD
579                 VA
580                 CA
582     United Kingdom
583              India
585                 NY
586                 MI
587                 NJ
588                 NY
589                 MA
590             France
591                 NY
594                 PA
595                 TN
597                 NY
599                 NY
600                 VA
601                 CA
602                 MA
603                 CA
604                 VA
605                 CA
606                 NY
607                 IL
608                 CA
609                 NY
610                 NC
613              India
614                 MA
616                 NY
617                 CA
619                 NY
622                 VA
623     United Kingdom
624                 VA
625                 CA
627                 MA
629                 IL
630                 CA
631                 CA
632                 TX
633                 TX
634                 VA
635                 CA
636                 NY
637                 MA
638     United Kingdom
639                 MA
640                 NY
642                 CA
643                 NY
644              Japan
645                 PA
646                 CT
647                 IL
648                 CA
651                 NY
652                 CO
653                 IL
654                 UT
655        South Korea
658     United Kingdom
660                 CA
661                 CA
662                 NY
663                 CA
664                 CA
665     United Kingdom
666                 TN
668        Switzerland
669            Germany
670                 CO
671                 WI
672                 IN
673                 VA
674                 MA
675                 MA
676                 NY
678        Switzerland
679                 CA
681                 MD
682                 DE
683                 NC
685                 OH
687                 MA
688                 IN
689                 FL
690                 NY
691                 IL
692                 MA
694                 MA
695                 NC
696                 CA
697                 NC
698                 CA
699                 NC
700                 GA
701                 CA
702                 MA
703                 CA
704                 CA
705                 NC
706                 MA
707     United Kingdom
708                 CA
709                 PA
711                 VA
712                 PA
714                 UT
715                 MA
718                 UT
719                 AL
721                 WI
722                 NY
723                 NY
725                 VA
726                 NY
727                 VA
728                 CA
730                 MA
731                 MA
732        Switzerland
733                 NY
734                 PA
735                 CA
736                 TN
737        Switzerland
738                 CA
740              Spain
741                 -1
742                 FL
743                 DC
744                 AZ
745                 CA
746                 MO
747                 VA
748                 FL
749     United Kingdom
750                 TX
751                 MD
752                 IL
753                 IL
754                 MA
755                 CA
756                 NC
757                 OR
758                 CO
759                 CA
761                 CA
763                 CA
766                 NY
767                 IA
768                 CA
769                 WA
773                 IA
776                 MA
777                 NY
778                 CA
779                 PA
780                 CA
781                 CA
782                 CA
783                 WA
784                 IL
785                 MA
786                 CO
787                 GA
788                 NY
789                 TX
790                 TX
791                 NC
794                 MA
795                 NC
797                 PA
799     United Kingdom
802                 NJ
803                 VA
804                 PA
806                 CA
807                 CA
808                 NY
809                 MA
810                 NY
811                 CA
812                 NC
815                 MA
816                 PA
817                 WA
818                 MD
819                 CA
820                 PA
821                 CA
822                 MD
823                 MA
824                 MA
825                 MA
826                 MA
827                 CA
828                 CA
829                 WA
830              India
831     United Kingdom
832                 NY
836                 CA
837                 NJ
838                 NY
839                 UT
840                 VA
841                 VA
845                 CA
848                 MA
851                 CA
852                 IL
853                 CA
854                 TX
855                 VA
856                 TX
857                 CA
858     United Kingdom
859                 MA
860                 OH
861                 VA
863                 TX
864                 CA
866              Japan
867                 CT
868                 NY
869                 IL
870                 PA
871                 CA
875                 CO
877                 UT
878                 NY
879                 CA
880                 CA
881                 IL
883        South Korea
884             France
886     United Kingdom
887                 CA
892                 MA
893                 MI
895                 CA
896                 NY
897                 CA
898                 NY
899                 CA
900     United Kingdom
901                 CO
902                 TN
904     United Kingdom
907                 CO
909                 WI
910                 IN
911                 VA
912                 MA
913                 MA
914                 NY
916        Switzerland
919                 DE
920                 CA
921                 MD
924                 PA
926                 NC
928                 CA
929                 OH
930                 IN
931                 FL
932                 MA
933                 NY
934                 IL
935                 MA
936                 MA
938                 NC
939                 CA
940                 CA
941                 NC
942                 NC
943                 CA
944                 MA
945                 CA
946                 CA
947                 MA
948                 CA
949                 NC
950     United Kingdom
951                 CA
952                 PA
953                 PA
955                 VA
Name: Headquarters, dtype: object

In [413]:
#Test since above code wasn't waorking, it worked with [-1]
for x in regex_df['Headquarters']:
    split_result = x.split(',')[1]
    print((split_result))

 CA
 MD
 FL
 WA
 NY
 TX
 MD
 WA
 NY
 NY
 CA
 VA
 AR
 WA
 Japan
 NJ
 MA
 CA
 CA
 CO
 WA
 CA
 ID
 GA
 VA
 NY
 CA
 MA
 NY
 FL
 WA
 MI
 Switzerland
 CA
 MA
 IL
 CA
 MA
 Germany
 NY
 CA
 MA
 CA
 CT
 IL
 VA
 CA
 NE
 VA
 IL
 FL
 MA
 AL
 Switzerland
 VA
 Germany
 CA
 MO
 MD
 TX
 OH
 NY
 CA
 WA
 PA
 MA
 GA
 MA
 PA
 CA
 CA
 IL
 CA
 VA
 Belgium
 CA
 CA
 MA
 VA
 China
 CA
 PA
 MD
 IL
 VA
 WA
 AR
 WA
 FL
 VA
 LA
 CA
 IL
 VA
 GA
 VA
 MA
 VA
 MA
 MD
 NY
 NY
 NY
 DC
 VA
 MI
 FL
 AZ
 NE
 CA
 NJ
 Japan
 NY
 CA
 CA
 IN
 MD
 MN
 CA
 SC
 MA
 OH
 DC
 IL
 MD
 AL
 CA
 MO
 CA
 IL
 VA
 TX
 CA
 CA
 CO
 United Kingdom
 VA
 CA
 VA
 IL
 CO
 UT
 CA
 PA
 WA
 WA
 CA
 OH
 TN
 WA
 FL
 IN
 MA
 NJ
 MA
 CA
 CA
 Japan
 MD
 CA
 CA
 CA
 UT
 MA
 VA
 PA
 WI
 MA
 CA
 MI
 FL
 CA
 Japan
 NJ
 Japan
 MA
 CA
 DE
 Japan
 Bermuda
 MO
 PA
 CA
 CA
 VA
 MA
 MA
 IL
 UT
 CO
 NY
 MD
 MA
 CA
 NY
 CA
 CA
 TX
 TX
 PA
 CA
 TN
 DE
 WI
 MD
 IL
 ID
 MD
 WI
 NY
 DC
 TX
 FL
 NJ
 MA
 IL
 South Korea
 MA
 OH
 MA
 CA
 CA
 CA
 Japan
 CA
 OH
 CA
 MD
 NJ
 VA
 UT
 NY
 GA
 OH
 MA
 CA
 IL
 VA
 VA
 IL
 NY
 TX
 WI
 CA
 RI
 NE
 PA
 DC
 VA
 NE
 CA
 VA
 MA
 MI
 NY
 VA
 PA
 FL
 CA
 Japan
 CA
 Japan
 NJ
 ID
 CA
 VA
 CA
 CA
 MA
 IA
 Japan
 DE
 Bermuda
 India
 NJ
 MO
 PA
 NY
 CA
 MI
 DC
 CA
 VA
 CA
 CA
 VA
 MA
 VA
 Switzerland
 Japan
 NC
 MA
 CA
 MA
 IL
 VA
 VA
 Switzerland
 CA
 TX
 CA
 CA
 Switzerland
 CA
 CO
 MA
 VA
 CO
 WA
 MA
 UT
 CA
 NY
 MA
 CA
 FL
 MD
 CA
 CA
 DC
 NC
 NY
 PA
 NY
 VA
 MA
 CA
 MA
 CA
 IL
 CA
 NC
 MA
 India
 CA
 CA
 MA
 TX
 IL
 TX
 NY
 CA
 Japan
 PA
 IL
 CO
 CA
 TN
 CA
 United Kingdom
 CO
 WI
 MA
 VA
 MA
 CA
 MD
 DE
 NC
 OH
 IN
 IL
 MA
 MA
 NC
 CA
 CA
 NC
 NC
 MA
 CA
 PA
 FL
 VA
 MA
 NY
 WI
 CA
 NY
 CA
 NY
 MA
 CA
 Spain
 TN
 DC
 FL
 FL
 MO
 TX
 United Kingdom
 MA
 MD
 NC
 IL
 CA
 CA
 NY
 IL
 IL
 IA
 WA
 IA
 MA
 CA
 PA
 CA
 WA
 CO
 GA
 MA
 TX
 TX
 NC
 MA
 NC
 NJ
 PA
 CA
 CA
 NY
 NC
 Germany
 MO
 VA
 MA
 WA
 UT
 NY
 CA
 CA
 CA
 NY
 TN
 CA
 CA
 NY
 CA
 PA
 MA
 CA
 MD
 FL
 CA
 DC
 CA
 CA
 MA
 CA
 NJ
 NC
 CA
 MD
 VA
 CA
 United Kingdom
 India
 NY
 MI
 NJ
 NY
 MA
 France
 NY
 PA
 TN
 NY
 NY
 VA
 CA
 MA
 CA
 VA
 CA
 NY
 IL
 CA
 NY
 NC
 India
 MA
 NY
 CA
 NY
 VA
 United Kingdom
 VA
 CA
 MA
 IL
 CA
 CA
 TX
 TX
 VA
 CA
 NY
 MA
 United Kingdom
 MA
 NY
 CA
 NY
 Japan
 PA
 CT
 IL
 CA
 NY
 CO
 IL
 UT
 South Korea
 United Kingdom
 CA
 CA
 NY
 CA
 CA
 United Kingdom
 TN
 Switzerland
 Germany
 CO
 WI
 IN
 VA
 MA
 MA
 NY
 Switzerland
 CA
 MD
 DE
 NC
 OH
 MA
 IN
 FL
 NY
 IL
 MA
 MA
 NC
 CA
 NC
 CA
 NC
 GA
 CA
 MA
 CA
 CA
 NC
 MA
 United Kingdom
 CA
 PA
 VA
 PA
 UT
 MA
 UT
 AL
 WI
 NY
 NY
 VA
 NY
 VA
 CA
 MA
 MA
 Switzerland
 NY
 PA
 CA
 TN
 Switzerland
 CA
 Spain

IndexError: list index out of range

In [414]:
temp_df = pd.DataFrame({'extract_state' : extract_state, 'extract_hq_state' : extract_hq_state})

In [416]:
same_state_hq = temp_df.apply(lambda x: 1 if x.extract_state == x.extract_hq_state else 0, axis =1)

In [417]:
regex_df['same_state_hq'] = same_state_hq

# Founded

In [418]:
from datetime import datetime

In [419]:
year = datetime.now().year

In [420]:
company_age = []
for x in regex_df.Founded:
    if x == -1:
        company_age.append('NAN')
    else:
        age = year - x
        company_age.append(age)

In [421]:
regex_df['company_age'] = company_age

# JD Parse (Added each of these series to regex_df separately)

In [422]:
regex_df['jd_python'] = regex_df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() or 'py' in x.lower() else 0)

In [423]:
jd_python.value_counts()

1    418
0    324
Name: Job Description, dtype: int64

In [424]:
regex_df['jd_sql'] = regex_df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() or 'mysql' in x.lower() else 0)

In [425]:
jd_sql.value_counts()

1    380
0    362
Name: Job Description, dtype: int64

In [428]:
regex_df['jd_excel'] = regex_df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() or 'msexcel' in x.lower() else 0)

In [429]:
jd_excel.value_counts()

1    388
0    354
Name: Job Description, dtype: int64

In [430]:
regex_df['jd_spark'] = regex_df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [431]:
jd_spark.value_counts()

0    575
1    167
Name: Job Description, dtype: int64

In [432]:
regex_df['jd_apache'] = regex_df['Job Description'].apply(lambda x: 1 if 'apache' in x.lower() else 0)

In [433]:
jd_apache.value_counts()

0    709
1     33
Name: Job Description, dtype: int64

In [434]:
regex_df['jd_r'] = regex_df['Job Description'].apply(lambda x: 1 if 'r' in x.lower() or ' r studio' in x.lower() or 'r-studio' in x.lower()  else 0)

In [435]:
jd_r.value_counts()

1    742
Name: Job Description, dtype: int64

In [436]:
regex_df['jd_tensor'] = regex_df['Job Description'].apply(lambda x: 1 if 'tensorflow' in x.lower() or 'tensor' in x.lower() or 'tensor flow' in x.lower() else 0)

In [437]:
jd_tensor.value_counts()

0    670
1     72
Name: Job Description, dtype: int64

In [438]:
regex_df['jd_jupyter'] = regex_df['Job Description'].apply(lambda x: 1 if 'jupyter' in x.lower() or 'notebook' in x.lower() else 0)

In [439]:
jd_jupyter.value_counts()

0    697
1     45
Name: Job Description, dtype: int64

In [440]:
regex_df['jd_git'] = regex_df['Job Description'].apply(lambda x: 1 if 'git' in x.lower() or 'github' in x.lower() else 0)

In [441]:
jd_git.value_counts()

0    581
1    161
Name: Job Description, dtype: int64

In [442]:
regex_df['jd_library'] = regex_df['Job Description'].apply(lambda x: 1 if 'pandas' in x.lower() or 'numpy' in x.lower() or 'scikit' in x.lower() or 'scikit-learn' in x.lower() else 0)

In [443]:
jd_library.value_counts()

0    672
1     70
Name: Job Description, dtype: int64

In [444]:
regex_df['jd_aws'] = regex_df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [445]:
jd_aws.value_counts()

0    566
1    176
Name: Job Description, dtype: int64

In [446]:
regex_df['jd_cloud'] = regex_df['Job Description'].apply(lambda x: 1 if 'cloud' in x.lower() or 'google cloud' in x.lower() else 0)

In [447]:
jd_cloud.value_counts()

0    576
1    166
Name: Job Description, dtype: int64

In [448]:
regex_df['jd_linux'] = regex_df['Job Description'].apply(lambda x: 1 if 'linux' in x.lower() else 0)

In [449]:
jd_linux.value_counts()

0    686
1     56
Name: Job Description, dtype: int64

In [451]:
regex_df = regex_df.drop(['Unnamed: 0'], axis = 1)

# Job Title Parse

In [501]:
clean_title = []
for x in regex_df['Job Title']:
    match = re.findall(r'\bdata scientist\b', x, flags = re.IGNORECASE)
    match_2 = re.findall(r'\bdata science\b', x, flags = re.IGNORECASE)
    match_3 = re.findall(r'\bdata analyst\b', x, flags = re.IGNORECASE)
    match_4 = re.findall(r'\bdata analytics\b', x, flags = re.IGNORECASE)
    match_5 = re.findall(r'\bdata engineer\b', x, flags = re.IGNORECASE)
    match_6 = re.findall(r'\bresearch scientist\b', x, flags = re.IGNORECASE)
    match_7 = re.findall(r'\bmachine learning\b', x, flags = re.IGNORECASE)
    match_8 = re.findall(r'\bdirector\b', x, flags = re.IGNORECASE)
    match_9 = re.findall(r'\bmanager\b', x, flags = re.IGNORECASE)
    match_10 = re.findall(r'\bconsultant\b', x, flags = re.IGNORECASE)
    match_11 = re.findall(r'\bassociate director\b', x, flags = re.IGNORECASE)
    match_12 = re.findall(r'\banalyst\b', x, flags = re.IGNORECASE)
    match_13 = re.findall(r'\bdata engineering\b', x, flags = re.IGNORECASE)
    if match or match_2:
        clean_title.append(x.replace(x, 'Data Scientist'))
        #regex_df[job_title] = job_title.append(x.replace(x, 'Data Scientist'))
    elif match_3:
        clean_title.append(x.replace(x, 'Data Analyst'))
    elif match_4:
        clean_title.append(x.replace(x, 'Data Analyst'))
    elif match_5:
        clean_title.append(x.replace(x, 'Data Engineer'))
    elif match_6:
        clean_title.append(x.replace(x, 'Research Scientist'))
    elif match_7:
        clean_title.append(x.replace(x, 'Machine Learning Engineer'))
    elif match_8:
        clean_title.append(x.replace(x, 'Director'))
    elif match_9:
        clean_title.append(x.replace(x, 'Manager'))
    elif match_10:
        clean_title.append(x.replace(x, 'Consultant'))
    elif match_11:
        clean_title.append(x.replace(x, 'Associate Director'))
    elif match_12:
        clean_title.append(x.replace(x, 'Data Analyst'))
    elif match_13:
        clean_title.append(x.replace(x, 'Data Engineer'))
    else:
        clean_title.append(x.replace(x, 'NA'))

In [502]:
regex_df['clean_title'] = clean_title

In [503]:
regex_df.clean_title.value_counts()

Data Scientist               313
NA                           143
Data Engineer                115
Data Analyst                 106
Research Scientist            22
Machine Learning Engineer     15
Manager                       13
Director                       8
Consultant                     7
Name: clean_title, dtype: int64

In [504]:
regex_df.clean_title.value_counts().sum()

742

In [485]:
regex_df.clean_title.value_counts().to_csv('Clean_titles.csv', index = False)

# JD Length

In [506]:
regex_df['jd_length'] = regex_df['Job Description'].apply(lambda x: len(x))

# Competitor Count

In [512]:
regex_df['comp_count'] = regex_df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

# Per hour to annual

In [536]:
regex_df['min salary'] = pd.to_numeric(regex_df['min salary'], errors='coerce')
regex_df['max_salary'] = pd.to_numeric(regex_df['max_salary'], errors='coerce')

In [537]:
regex_df['min salary'] = regex_df.apply(lambda x: round(x['min salary']*1.92,0) if x.per_hour == 1 else x['min salary'], axis =1)

In [538]:
regex_df['max_salary'] = regex_df.apply(lambda x: round(x['max_salary']*1.92,0) if x.per_hour == 1 else x['max_salary'], axis =1)

In [540]:
regex_df

                                             Job Title  \
0                                       Data Scientist
1                            Healthcare Data Scientist
2                                       Data Scientist
3                                       Data Scientist
4                                       Data Scientist
5                                       Data Scientist
6                                       Data Scientist
7                                       Data Scientist
8                                   Research Scientist
9                                       Data Scientist
10                                      Data Scientist
11                                      Data Scientist
12                   Staff Data Scientist - Technology
13                                        Data Analyst
14                                      Data Scientist
15                                     Data Engineer I
16                             Scientist I/II, Biology
17                             Customer Data Scientist
18              Data Scientist - Health Data Analytics
19                                      Data Scientist
20                                      Data Scientist
21            Senior Data Scientist / Machine Learning
22                       Data Scientist - Quantitative
23                                      Data Scientist
25                                      Data Scientist
26                       Digital Health Data Scientist
27                                      Data Scientist
28                              Associate Data Analyst
29                             Clinical Data Scientist
30                                      Data Scientist
31                                      Data Scientist
32                                      Data Scientist
33            Data Scientist / Machine Learning Expert
34                                      Data Scientist
35                                      Data Scientist
36                                    Web Data Analyst
37                                      Data Scientist
38                                      Data Scientist
39                               Senior Data Scientist
40                                       Data Engineer
41                                        Data Analyst
43                                       Data Engineer
44             Data Scientist - Algorithms & Inference
45                                           Scientist
46                               Senior Data Scientist
48                                      Data Scientist
49                                 Lead Data Scientist
50                              Associate Data Analyst
51                         Spectral Scientist/Engineer
52   College Hire - Data Scientist - Open to Decemb...
54                                      Data Scientist
55              Data Scientist, Office of Data Science
56                                Data Science Analyst
57                                      Data Scientist
58                                      Data Scientist
59                                      Data Scientist
60                                      Data Scientist
61                                      Data Scientist
62                                      Data Scientist
63                                      Data Scientist
65                               Senior Data Scientist
66                                      Data Scientist
67                          Senior Risk Data Scientist
68   Data Scientist in Artificial Intelligence Earl...
70                                      Data Scientist
72                                      Data Scientist
73                                      Data Scientist
75                           Data Scientist - Research
76                                      Data Scientist
77                         R&D Data Analysis Scientist
78                                Analytics Consultant
79                              Director, Data Science
80                                           Scientist
81                                   Data Scientist SR
82                                      Data Scientist
83                               R&D Sr Data Scientist
84         Customer Data Scientist/Sales Engineer (Bay
85                                  Research Scientist
86                                      Data Scientist
87                                      Data Scientist
88                                      Data Scientist
89                           Jr. Business Data Analyst
90                                      Data Scientist
91                                        Data Analyst
92                                       Data Engineer
93                                        Data Analyst
94                   Staff Data Scientist - Technology
95                                      Data Scientist
96                                      Data Scientist
97                          Data Management Specialist
99                             E-Commerce Data Analyst
101                                   Sr. Scientist II
102                           Insurance Data Scientist
104                                       Data Modeler
105                           Data Analyst / Scientist
106                                          Scientist
107                                     Data Scientist
108                                     Data Scientist
109                                       Data Analyst
110                                Lead Data Scientist
112                                     Data Scientist
113                                     Data Scientist
116                    Data Scientist, Rice University
117                              Senior Data Scientist
118                                      Data Engineer
119                              Senior Data Scientist
120                             Financial Data Analyst
122                                Senior Data Analyst
123                                 Research Scientist
124                                     Data Scientist
125                                      Data Engineer
126                                     Data Scientist
127                                     Data Scientist
128                                     Data Scientist
129                                      Data Engineer
130                                  Ag Data Scientist
131                                     Data Scientist
132                                      Data Engineer
136                                  Data Scientist II
137                               Senior Data Engineer
138                                     Data Scientist
139                                     Data Scientist
140                                      Data Engineer
141                                      Data Engineer
142                                       Data Analyst
143                                  Project Scientist
145                                     Data Scientist
146                             Data Analytics Manager
147  Senior Machine Learning (ML) Engineer / Data S...
148                                     Data Scientist
150                              Senior Data Scientist
152                                     Data Scientist
153                                Associate Scientist
154                       Scientist 2, QC Viral Vector
156                          Machine Learning Engineer
157                         Data Scientist/ML Engineer
158                                     Data Scientist
159                            Customer Data Scientist
161                                      Data Engineer
162                                      Data Engineer
164                                 Sr. Data Scientist
166                         Data Engineer 4 - Contract
167                    Data Analyst - Asset Management
168  Senior Research Scientist - Embedded System De...
169                    Data Scientist - Bioinformatics
170                                      Data Engineer
171             Customer Data Scientist/Sales Engineer
172                                Lead Data Scientist
174                           MongoDB Data Engineer II
175                   Senior Data Scientist Statistics
177                                Senior Data Analyst
178               Senior Spark Engineer (Data Science)
179                                      Data Engineer
180                    BI & Platform Analytics Manager
181                                Lead Data Scientist
182  Sr. Data Scientist - Analytics, Personalized H...
183                              Senior Data Scientist
185  Pricipal Scientist Molecular and cellular biol...
187               Data Scientist (Actuary, FSA or ASA)
188                               Staff Data Scientist
190           Senior Data Scientist / Machine Learning
191             Data Scientist - Health Data Analytics
192                Data Engineer 5 - Contract (Remote)
193                    Senior Scientist - Neuroscience
194                                Senior Data Analyst
197                              Medical Lab Scientist
198              Risk and Analytics IT, Data Scientist
199                  Scientist, Analytical Development
200                              Senior Data Scientist
201                                  Analytics Manager
202                                      Data Engineer
203         Digital Marketing & ECommerce Data Analyst
204  Sr. Scientist - Digital & Image Analysis/Compu...
205                                Senior Data Analyst
206                 Principal Scientist - Immunologist
207                              Senior Data Scientist
208  Principal Data Scientist with over 10 years ex...
209                MED TECH/LAB SCIENTIST - LABORATORY
210  Sr. Scientist, Quantitative Translational Scie...
211                              Sr. Data Scientist II
212                     Excel / VBA / SQL Data Analyst
213                Machine Learning Research Scientist
215                                   VP, Data Science
216                              Senior Data Scientist
217                                 Radar Data Analyst
221                   PL Actuarial-Lead Data Scientist
223                                       PV Scientist
224           Senior Data & Machine Learning Scientist
225  Principal Data Scientist (Computational Chemis...
226                                      Data Engineer
228        Principal Scientist, Chemistry & Immunology
229             Software Engineer - Data Visualization
230             Scientist/Senior Scientist, Autoimmune
233                    Staff Machine Learning Engineer
234                    Principal Scientist, Hematology
235                                 Lead Data Engineer
239                             Marketing Data Analyst
240                       Medical Laboratory Scientist
242                     R&D Specialist/ Food Scientist
243         Senior Research Scientist-Machine Learning
245                      Analytics Manager - Data Mart
246        Sr. Data Engineer - Contract-to-Hire (Java)
247          MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB
248                         Food Scientist - Developer
250     Staff Scientist-Downstream Process Development
251                                  Sr. Data Engineer
253                      Data Scientist - Quantitative
254                                     Data Scientist
255       Senior Research Statistician- Data Scientist
256                         Business Data Analyst, SQL
257  Medical Technologist / Clinical Laboratory Sci...
258                                     Data Scientist
259                                Senior Data Analyst
260                    BI & Platform Analytics Manager
262                                      Data Engineer
263                                     Data Scientist
264                                       Data Analyst
265        Associate Data Scientist/Computer Scientist
266          Business Intelligence Analyst / Developer
267                                Lead Data Scientist
268  Sr. Data Scientist - Analytics, Personalized H...
269                              Senior Data Scientist
270                                       Data Analyst
273  Pricipal Scientist Molecular and cellular biol...
274                                       Data Analyst
275                                       Data Analyst
276                               Staff Data Scientist
277               Data Scientist (Actuary, FSA or ASA)
278                            System and Data Analyst
281                                     Data Scientist
282                Data Engineer 5 - Contract (Remote)
284                      Digital Health Data Scientist
285                                     Data Scientist
288                  Data & Analytics Consultant (NYC)
289                    Senior Scientist - Neuroscience
290                                      Data Engineer
291   Big Data Engineer - Chicago - Future Opportunity
292                                Senior Data Analyst
293                                     Data Scientist
295                                Survey Data Analyst
296                                     Data Scientist
299                                     Data Scientist
300              Risk and Analytics IT, Data Scientist
302                                     Data Scientist
305               Lead Health Data Analyst - Front End
306                                 Research Scientist
307                              Medical Lab Scientist
308                                Junior Data Analyst
309                                  SQL Data Engineer
310                                     Data Scientist
311                              Senior Data Scientist
312                                     Data Scientist
313                  Scientist, Analytical Development
314                                  Analytics Manager
316                            Clinical Data Scientist
317                                     Data Scientist
318     Sr. Data Scientist, Cyber-Security LT Contract
319                                      Data Engineer
320                                     Data Scientist
322  Sr. Scientist - Digital & Image Analysis/Compu...
323         Digital Marketing & ECommerce Data Analyst
324                 Principal Scientist - Immunologist
325                                Senior Data Analyst
326                   Insurance Financial Data Analyst
328                                     Data Scientist
330                                     Data Scientist
331  Principal Data Scientist with over 10 years ex...
332                                      Data Engineer
333                              Senior Data Scientist
334                            Data Engineer I - Azure
335  Sr. Scientist, Quantitative Translational Scie...
337                MED TECH/LAB SCIENTIST - LABORATORY
339                              Sr. Data Scientist II
341                                     Data Scientist
342                  Information Security Data Analyst
344                     Excel / VBA / SQL Data Analyst
346                Machine Learning Research Scientist
347                                     Data Scientist
348                                     Data Scientist
349                                     Data Scientist
350                                     Data Scientist
351                              Senior Data Scientist
352                             Data Scientist, Senior
353                              Senior Data Scientist
354                                   VP, Data Science
355                                 Radar Data Analyst
356                   CONSULTANT DATA ANALYTICS GROUP
357                                      Data Engineer
358                              Senior Data Scientist
362  Data Engineer, Data Engineering and Artifical ...
364                                    Staff Scientist
366                   PL Actuarial-Lead Data Scientist
367  Associate Scientist/Scientist, Process Analyti...
368                                   Sr. Data Analyst
369           Senior Data & Machine Learning Scientist
370                               Program/Data Analyst
371                                      Data Engineer
372  Senior Data Scientist: Causal & Predictive ana...
375  Principal Data Engineer, Data Platform & Insights
376             RESEARCH SCIENTIST - BIOLOGICAL SAFETY
377                               Data Operations Lead
379                                  Big Data Engineer
380           Data Scientist / Machine Learning Expert
381                                     Data Scientist
382                              Senior Data Scientist
383                                       PV Scientist
384                              Clinical Data Analyst
386                                      Data Engineer
387               Computational Chemist/Data Scientist
388                                      Data Engineer
390  Principal Data Scientist (Computational Chemis...
391                    Product Engineer  Data Science
392        Principal Scientist, Chemistry & Immunology
394             Scientist/Senior Scientist, Autoimmune
396                                     Data Scientist
397                                Market Data Analyst
398             Software Engineer - Data Visualization
399                                      Data Engineer
400                                Staff Data Engineer
401                            Associate Data Engineer
403                              Senior Data Scientist
406                         Staff BI and Data Engineer
407                             Marketing Data Analyst
409                    Principal Scientist, Hematology
410                                       Data Analyst
411         Director - Data, Privacy and AI Governance
412                                     Data Scientist
413                                     Data Scientist
414                    Staff Machine Learning Engineer
415                  Information Security Data Analyst
416                                 Lead Data Engineer
417   Scientist Manufacturing - Kentucky BioProcessing
419                     Data Analytics Project Manager
420                  Consultant - Analytics Consulting
421                                      Data Engineer
425                             Marketing Data Analyst
426                    Senior Scientist (Neuroscience)
427                       Medical Laboratory Scientist
428             Machine Learning Engineer - Regulatory
429                     R&D Specialist/ Food Scientist
430                                      Data Engineer
431                            Scientist, Bacteriology
433  Associate Director, Platform and DevOps- Data ...
434         Senior Research Scientist-Machine Learning
435                              Senior Data Scientist
437                      Clinical Laboratory Scientist
442                      Analytics Manager - Data Mart
443        Sr. Data Engineer - Contract-to-Hire (Java)
444            Data Scientist - Algorithms & Inference
446               Senior Data Scientist - R&D Oncology
447                                      Data Engineer
448                         Food Scientist - Developer
449                              Senior Data Scientist
450                                      Data Engineer
452          Director II, Data Science - GRM Actuarial
454            Scientist, Molecular/Cellular Biologist
455     Staff Scientist-Downstream Process Development
456          MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB
458                    Scientist - Analytical Services
459  Associate Data Analyst- Graduate Development P...
461                                  Sr. Data Engineer
462                    Senior Insurance Data Scientist